[2019-06-25 14:47] bryanmacfarlane opened #35 "Update node handler to Node12 (recent LTS)"
Node 12 just released as LTS.  Let's start with that one.

Also, make sure the handler name in the action.yml is `node12`

[2019-06-25 17:57] bryanmacfarlane opened #37 "[10/21] Update node12 when LTS ships"
In october, node 12 will LTS.

https://nodejs.org/en/about/releases/

Keep this open and fix when it's available.

[2019-06-26 15:02] #35 closed, assigned to TingluoHuang

[2019-08-08 16:10] thechrisjohnson opened #73 "Switch Runner to use Bearer instead of Basic Auth"
The Runner process is passing up the JWT Tokens to the system using basic auth (which is currently supported). We want to get rid of this, so we should move to using Bearer instead.

[2019-08-12 15:18] thboop opened #75 "Runner does not gracefully handle sigterming the process tree"
## Runner Version and Platform
Ubuntu 2.156.4

## What's not working?
See this related issue https://github.com/github/dreamlifter/issues/1150

When a user runs a step that kills the process tree (SIGTERMing the runner and the worker), the step fails to upload its logs. We may be able to clean up this process a bit by creating a better UX in this case, by uploading an error message that contains w

[2019-08-17 02:24] #73 closed, assigned to TingluoHuang

[2019-08-22 19:46] #75 closed, assigned to nobody

[2019-09-10 17:49] eine opened #241 "Not a tty"
Default shells seem to be limited. For example, the following step:

[code]

produces:

[code]

As a result, multiple tools that can provide pretty coloured logs do not work as expected. This is the case of e.g. colorama or pytest in the Python ecosystem.

A possible workaround is to use `docker run --rm -t ...`. However, this involves installing in the container multiple resources/tools that are

[2019-09-12 19:21] dakale opened #103 "Prepend path from steup-$tool installers broken in job containers"
## What's not working?
Tools installed by setup-$tool actions that require a PATH update in the environment break in job containers

Containers typically bring their own toolsets so I havent seen anyone hit this yet, but it is broken

I introduced this bug via https://github.com/actions/runner/pull/23/files#diff-fd6512562302c29ee1adf6e88a5f1e11

We had a nice chain-loader-ish setup via the node pr

[2019-09-18 19:52] pjquirk opened #108 "Use the new REST API for getting/creating artifacts"
The REST API for uploading and downloading artifacts has (already) changed in master (M159).  The [Build2 APIs have been removed](https://dev.azure.com/mseng/_git/AzureDevOps/pullrequest/503889?_a=files&path=%2FActions%2FService%2FBuild2%2FExtensions%2FRestApiResourceProvider.cs) in favor of new APIs are in the Pipelines area.  See [here](https://dev.azure.com/mseng/AzureDevOps/_git/AzureDevOps?pa

[2019-09-27 18:06] #103 closed, assigned to dakale

[2019-10-01 19:18] juliobbv opened #121 "Actions Runner - Code/Features Cleanup"
Created this issue to keep track of the code/features that are no longer needed.

Please keep the below list updated with desc of features that has to be removed along with their status.

- [x] Unused authentication methods
    - `Integrated`, `Negotiate`, `Alternate`, `ServiceIdentity` #123
    - `PAT`, `AAD` #218
- [x] `AsyncCommandContext` #124
- [x] Comment/code references (not server referenc

[2019-10-18 16:10] lkillgore opened #134 "Don't retry downloading from file container service when the http status code response from the server is in the 400's"
We shouldn't retry if the server is returning back 'Forbidden' or other 400 errors that indicate a problem with the caller.  Also, the FCS does not return things like 404 in the event of invalid cache or the like, so this should be a safe change.

See #131 is the change to prevent multiple upload attempts.

[2019-10-20 16:04] bryanmacfarlane opened #136 "Release instructions should match product instructions"
Right now, there's a hyperlink to the download.  The instructions should have a curl or ps command to download which matches the product instructions.

This is especially important to have in place until we're notarized.

[2019-10-24 19:34] TingluoHuang opened #145 "Whether/how to cache action on self-hosted runner?"
Then runner download the action's tarball/zipball via github api, unzip to disk under `_work/_actions/<repo>/<ref>`.

The runner won't re-download any action if it's already on disk.

I think we need to re-check this logic before self-hosted runner GA.

Ex:
[code]

`action.yml` on disk: `_work/_actions/actions/checkout/v1/action.yml`

Since action author can repoint their `v1` tag to the latest v1

[2019-10-24 20:31] yacaovsnc opened #146 "ArtifactCache hashFiles function should allow relative path input"
## Runner Version and Platform
Version of your runner?
**Current runner version: '2.159.2'**

OS of the machine running the runner? OSX/Windows/Linux/...
**All platforms**

## What's not working?
Please include error messages and screenshots.
Currently, the `hashFiles` function only works against absolute path.  If I specify a relative path, I get:
`##[error]The template is not valid. 'hashFiles(.

[2019-10-28 15:31] ericsciple opened #149 "Limit hashFiles patterns to basic globbing and globstar"

[2019-10-28 15:55] #149 closed, assigned to nobody

[2019-10-29 14:31] #145 closed, assigned to ericsciple, thboop

[2019-10-29 15:39] ericsciple opened #154 "hashFiles doesn't support forward slash path separator on Windows"

[2019-10-30 15:27] ericsciple opened #157 "Extra output for every debug output"
When an action writes debug, every debug line produces 4 lines of output.

Here is sample log output from one debug statement from an action:

[code]

Out of the four lines, only the third one should exist.

[2019-10-30 17:32] thboop opened #159 "Add Mask Command leaks secrets the secret being registered for masking"
The `add-mask` command echoes the input, then processes the command, which means that when the input is echoed the secret is not registered. This causes the secret to leak.

[2019-10-30 22:25] thboop opened #160 "Echo Command toggle does not save state between Steps"
The below yaml does not echo the second command
[code]

This does work
[code]

[2019-10-30 22:52] #160 closed, assigned to nobody

[2019-10-30 23:29] thboop opened #161 "Multiline Secrets in add-mask are not supported and do not fail"
The add mask command encoded data and decodes it before registering it as a secret. A user can send an encoded multiline secret to the add-mask command, which it will then try to register as a single secret. Since we do our processing line by line, a multi-line secret will never mask as the secret masker works based on exact matches.

We should either explicitly fail when a multiline string is giv

[2019-10-31 17:18] thboop opened #163 "Update the Windows and Mac OS dependency Docs for .Net Core 3.0"
We recently migrated to .Net Core 3.0 and updated the Linux Dependency Doc. We should also make the corresponding updates for Mac and Windows.

[2019-10-31 19:50] chrispat opened #164 "Container job containers are stopped before post runs"
See https://github.com/actions/cache/issues/12

https://github.slack.com/archives/CMV6PDVJT/p1572535582109200

[2019-11-04 17:31] ericsciple opened #166 "Bad error message when using job container on selfhosted macos runner"
Attempting to use a job-container on macos self hosted, fails with the error message: `Could not find a part of the path '/proc/1/cgroup'`

Here is the repro:

[code]

Note, after commenting out the offending code, the runner fails downstream with a better error message: `Container operation is only supported on Linux`. So i think we just need to add better validation sooner.

[2019-11-04 18:19] #164 closed, assigned to nobody

[2019-11-04 19:34] thboop opened #168 "Post Action Steps delay sending timeline records"
Post Action Steps delay sending timeline record entries, which results in the steps appearing out of order in the UI until it is refreshed. This only occurs when jobs are run inside a container, the stopping job container step appears before the post-action steps.

[2019-11-05 13:46] #146 closed, assigned to ericsciple

[2019-11-05 13:47] #154 closed, assigned to ericsciple

[2019-11-05 16:14] thboop opened #169 "PWSH on Windows Exits 1 When stderr streams are redirected"
This is reproducible in a simple script
[code]
We aren't sure the impact at this time, but it appears to be a power-shell bug. We should file an issue with reproduction for them to fix.

[2019-11-05 17:04] Eilon opened #170 "Consider adding a solution file (.sln) to make it easier to dev on the project in VS"
To make it easier to open the codebase in VS, consider adding a solution file (.sln file). This will make it easier to open, edit, and build the various C# projects.

[2019-11-05 18:33] Eilon opened #172 "Can't build projects in VS due to undefined build variables"
The command-line build `dev build` sets variables such as `-p:PackageRuntime="${RUNTIME_ID}"`, which are required to be defined for the CSPROJ to be able to compile.

In VS this variable is not defined, so you get build errors due to the OS-specific `#define`'s not being set, such as `OS_WINDOWS`.

Perhaps there should be a default value for these, or make them optional, so that it's possible to b

[2019-11-05 21:40] Eilon opened #176 "What is the 'Github Dreamlifter Runner' section in the build script?"
This section here:

https://github.com/actions/runner/blob/5b6f9d3b933f2c457e0ce1a7c6a2a95d9095c48c/src/dev.sh#L211

It seems like it's maybe from something that was previously used, but is no longer part of the build.

If it's no longer needed, I recommend removing this section (which I'm happy to send a PR for).

[2019-11-05 22:21] #176 closed, assigned to nobody

[2019-11-05 22:59] Eilon opened #179 "Consider setting TreatWarningsAsError for all projects"
After a few of the currently-open PRs are merged (#174, #178), all compiler and code analyzer warnings should be fixed. It would be good to set `TreatWarningsAsErrors` to true for all projects to ensure that contributors are forced to fix warnings before submitting a PR.

I recommend this setting be placed in the new `Directory.Builds.props` file that I included in this PR: https://github.com/acti

[2019-11-06 21:32] thboop opened #180 "Can't Run Tests in VS due to undefined environmental variables"
The [TestUtil](https://github.com/actions/runner/blob/master/src/Test/L0/TestUtil.cs#L26) class is used on a majority of our tests, it expects an environmental variable that does not resolve when running inside Visual Studio (the path to the `./src` folder).  The Test Explorer has a large number of failing tests that work via the CLI, which hampers productivity for VS users.

[2019-11-06 21:57] #170 closed, assigned to nobody

[2019-11-06 21:57] #172 closed, assigned to nobody

[2019-11-07 02:58] ericsciple opened #182 "Problem matcher fromPath property should be treated as a file path (not directory)"
## Summary

The `fromPath` property in matcher config, should be treated as a file path, not a directory path.

Without this fix, the dotnet problem matcher will not work most of the time. The typical convention is for dotnet projects to be under a subfolder, so the relative source file paths printed in the error message are not relative to the root of the repo (they are further down in the direct

[2019-11-07 16:26] #182 closed, assigned to ericsciple

[2019-11-07 21:44] thboop opened #186 "Self Hosted Runner Service on Windows Fails Strong Name Validation"
On a fresh Windows 2019 Server VM, the config script fails to register a Self Hosted Runner Service.

[code]

[2019-11-07 22:00] lucascosti opened #187 "Service name inconsistency on Windows vs. macOS/Linux"
Found whilst doing docs in https://github.com/github/help-docs/pull/11453#issuecomment-550941515

Runner version 2.160.0

On Windows, I have documented the current service name for the time-being in https://github.com/github/help-docs/pull/11453. When this is fixed please let us in docs know (either myself or github/product-docs-core), so we can update the doc if the doc has already shipped.

[2019-11-08 14:49] #186 closed, assigned to nobody

[2019-11-08 22:52] lucascosti opened #191 "Runner service on Windows fails to start with runner name >7 chars"
## Runner Version and Platform
actions-runner-win-x64-2.160.2

Windows Server 2019 Standard (1809)

## What's not working?

It's not possible to configure a Windows runner as a service with a runner name > 7 characters.

If you provide a runner name >7 charachters, the `config` script completes successfully and says the service is running, but the service never actually successfully starts.

Looki

[2019-11-08 23:24] lucascosti opened #192 "Runner service on Windows fails to start with the default user"
## Runner Version and Platform
actions-runner-win-x64-2.160.2

Windows Server 2019 Standard (1809)

## What's not working?
If a user runs a powershell in a Windows user directory, and tries to use the default suggested user for running installing a service (`NT AUTHORITY\NETWORK SERVICE`), the config script completes successfully and says the service is running, but the service never actually succ

[2019-11-11 18:43] #163 closed, assigned to thboop

[2019-11-11 21:06] juliobbv opened #194 "Runner config says that agent service has been started successfully, but it's not the case"
## Runner Version and Platform

actions-runner-win-x64-2.160.2

Windows Server 2019 Standard (1809)

## What's not working?

Side effect of issue #191. Configuring the agent to run as a service that ultimately causes such service to fail, results in the config process to report that the service has been started successfully, where in reality this is definitely not the case.

[code]

[2019-11-12 17:48] #157 closed, assigned to thboop

[2019-11-13 22:23] bryanmacfarlane opened #198 "Runner releases using Actions"
Create an action workflow to create a runner release.

The assets should be a GitHub release asset (and therefore use it's CDN).

We can have it trigger on version file changes in a release branch?  Let's discuss.

When we open source, I want Actions creating the release

[2019-11-14 14:47] thboop opened #199 "Add Proxy Configuration to Self Hosted Runners"
We want a way to be able to configure the self hosted runner to use a proxy. First class support for passing proxy information to actions would be helpful as well, as it would enable action authors and users to use that proxy information in their workflows.

[2019-11-19 15:55] hross opened #202 "Update runner documentation and review environment variables/contexts"
Since we are getting ready to open source runner, we need to review a few things:

- Figure out what environment variables are set and if they need to be documented
- Review runner/github context and documentation
- Make sure we are aligning context/variables/docs and not setting anything we don't need to

[2019-11-19 21:27] #136 closed, assigned to thboop

[2019-11-26 14:57] #159 closed, assigned to thboop

[2019-11-27 05:32] eine opened #240 "Set custom default shell"
Current usage of action [setup-msys2](https://github.com/numworks/setup-msys2/) requires commands to be preprended with `msys2do`, which is a cmd file (`d:\a\_tmp\msys\msys2do.cmd`). For example:

[code]

On the one hand, it would be more *natural* if the shell was selectable as the built-in ones (`cmd`, `powershell`, `bash`), as it would allow a more consistent syntax:

[code]

On the other hand,

[2019-11-27 19:44] #187 closed, assigned to nobody

[2019-12-05 17:55] juliobbv opened #211 "Explore what kind of "PII" needs scrubbing from the runner diagnostic logs"
In the GitHub diagnostic logs, the runner logs information that can be considered "Personally-Identifiable" (e.g. names, emails), either from the GitHub context, or from the regular info/warning/debug messages.

@patrickcarnahan made a good point on exploring the need to scrub PII data out of the logs:

This issue tracks the effort of figuring out what sort of information we need to scrub in order

[2019-12-05 18:01] #191 closed, assigned to juliobbv

[2019-12-05 18:05] #108 closed, assigned to juliobbv

[2019-12-06 21:29] kevinburke1 opened #399 "Document the minimum dependencies necessary to use this action with custom containers"
It would be nice to know the minimum amount of software necessary to run this with a custom container. For example, this project requires `git` at at least v2.18.

I'm currently trying to debug this failure:

[code]

I suspect this means I need to add Node.js to the container image but I'm not sure.

[2019-12-10 16:48] pjquirk opened #216 "Bash fails to find the temp script file on Windows when the WSL bash is used"
## Runner Version and Platform
**2.162.0**

OS of the machine running the runner? OSX/Windows/Linux/...
**Windows 10**

## What's not working?
Given this workflow:

[code]

And given a runner on a Windows machine with `C:\Windows\System32` higher in the PATH than `C:\Program Files\Git\bin`, the step will always fail:

[code]

It appears that the WSL bash is expecting a script file path to be Unix-

[2019-12-16 15:55] TingluoHuang opened #226 "Finish runner --help outputs with unattended config doc"
`./config.sh/cmd --help` will only print out some basic info about how to use the cli.

Ex:
[code]

We should include more information in this help output, like all arguments the runner takes durring config and example for doing unattended runner config.

[2019-12-16 22:15] #37 closed, assigned to dakale

[2019-12-17 03:24] #134 closed, assigned to nobody

[2019-12-18 17:12] TingluoHuang opened #234 "hashfiles() expression function needs to handle symlink loop gracefully"
When user has symlink loop in the folder they trying to hash, the runner will stuck on finding all files under the folder, the job will hang and user get no idea what's going wrong.

We need to detect the symlink loop, stop the recursion search and continue find other files.

[2019-12-18 21:09] #121 closed, assigned to TingluoHuang, juliobbv

[2019-12-18 22:41] #198 closed, assigned to bryanmacfarlane

[2019-12-19 13:37] bryanmacfarlane opened #239 "Runner build should produce and publish containers"
Thank you 🙇‍♀ for wanting to create a feature in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions or issues with the service, writing workflows or actions, t

[2019-12-19 16:42] dakale commented on #240
I just made this change in https://github.com/actions/runner/pull/231

(We just open sourced the runner, so transferring this issue there)

This will go out with the 2.164.0 runner which is currently in prerelease but not rolled out to GitHub hosted machines

[2019-12-19 16:42] #240 closed

[2019-12-19 16:58] dakale commented on #166
This is "fixed" with https://github.com/actions/runner/pull/221

It fails at the same time, but with a better error message simply stating that its not supported on macOS at this time. Can easily be removed if/when we decide to fully support this on mac

[2019-12-19 16:58] #166 closed

[2019-12-19 17:14] dakale commented on #241
(Thanks @joshmgross)

This issue is better suited to live here

Ill reopen since we havent made a decision on if its something we want to implement or not

[2019-12-19 17:27] bryanmacfarlane commented on #241
This is certainly worth digging into and figuring out.

[2019-12-19 19:34] #194 closed

[2019-12-19 21:16] thboop commented on #168
We appear to be sending the proper information (hence why we are able to correctly render on refresh). This is a UI Issue I filed a ticket.

[2019-12-19 21:16] #168 closed

[2019-12-20 13:28] bryanmacfarlane opened #243 "Expanded platform support: Consider porting to go or typescript"
Power PC, Solaris, IBM Mainframe, redhat 5/6 (without a new sku) etc.

Start with an ADR evaluation of platform coverage

[2019-12-20 14:57] myoung34 opened #244 "Add support for long-term tokens"
**Describe the enhancement**

Currently the only way to set up an agent is to dig around the settings and take the runner token from the UI. This changes hourly which is frustrating when debugging as it will eventually just stop working.

**Code Snippet**

[code]

**Additional information**

n/a

[2019-12-20 14:58] myoung34 opened #245 "Add support for cross-repo runners"
**Describe the enhancement**

Having an agent _per_ repo is very tedious and frustrating.
It would be nice to have agents that can work across repositories to prevent potentially having hundreds of agents to maintain (with rotating tokens)  across hundreds of repos

**Code Snippet**

n/a

**Additional information**

n/a

[2019-12-20 15:00] myoung34 opened #246 "Add ability to opt out of agent auto-update"
**Describe the enhancement**

Running the agent within docker and having it auto update causes the container to throttle and never succeed without having to manage PID 1

It would be nice to have something in `config.sh` or `run.sh`, possibly environment variables to help opt out  of auto-update

**Code Snippet**

n/a

**Additional information**

n/a

[2019-12-20 15:21] kubasejdak commented on #245
Also, it is hard to synchronize them if they share the same test hardware. Cross-repo runners is a must. Like in GitLab.

[2019-12-20 18:03] #199 closed

[2019-12-21 14:51] #179 closed

[2019-12-23 21:00] xt0rted opened #250 "Unable to build in VS2019 from a fresh clone"
#173 added a solution file and `Directory.Build.props` to make working on this easier in full VS, but with a fresh clone F5 builds fail because the auto generated `BuildConstants` class doesn't exist which is coming from: https://github.com/actions/runner/blob/ac1a076a3b63c4f276c4fb28756fcca14305822e/src/dir.proj#L4-L29

I've tried playing around with the project files and have gotten this target

[2019-12-23 21:00] xt0rted opened #310 "Unable to build in VS2019 from a fresh clone"
actions/runner#173 added a solution file and `Directory.Build.props` to make working on this easier in full VS, but with a fresh clone F5 builds fail because the auto generated `BuildConstants` class doesn't exist which is coming from: https://github.com/actions/runner/blob/ac1a076a3b63c4f276c4fb28756fcca14305822e/src/dir.proj#L4-L29

I've tried playing around with the project files and have gotte

[2019-12-23 21:31] bryanmacfarlane commented on #245
Yes! We do have org level runners coming soon along with the ability to edit labels.  The combination will allow for more elastic use of runners across your org.  Much of the infra is already in place ...

[2019-12-24 00:24] bryanmacfarlane commented on #246
We're also looking at producing an image as part of the runner build so if you are doing single use container builds then you never hit a required update - it's picking up the container with the runner in it that the service demands.

Question - are you doing single use containers or does the runner / container lifetime span jobs and builds in your scenario?

[2019-12-24 02:43] myoung34 commented on #246
@bryanmacfarlane it spans

https://github.com/myoung34/docker-github-actions-runner

[2019-12-24 03:16] bryanmacfarlane commented on #246
instead of entrypoint running run.sh (interactive) it should probably run runsvc.sh which handles update return codes.  That coupled with a image released with every runner version would probably eliminate the issue

https://github.com/actions/runner/blob/master/src/Misc/layoutbin/runsvc.sh

[2019-12-24 03:17] bryanmacfarlane commented on #246
^^ I'm working on some docker containers to be part of the build - I'll look over your files

[2019-12-24 03:28] myoung34 commented on #246
just make sure the dockerfiles work for arm/arm64 please 😃

[2019-12-24 03:35] bryanmacfarlane commented on #246
https://github.com/actions/runner/issues/239

[2019-12-26 10:35] DaHuoKolmostar opened #251 "Files created in a container job will be left in the host machine after execution"
**Describe the bug**
I need to use a self-hosted runner to run some tests, and I want the tests can be isolated from the host machine due to some security issues, that meaning the host machine won't get access to the source code.
GitHub Actions provides a "[container](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#jobsjob_idcontai

[2019-12-31 22:54] bryanmacfarlane opened #252 "Expose whether debug is set to steps"
Thank you 🙇‍♀ for wanting to create a feature in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions or issues with the service, writing workflows or actions, t

[2020-01-02 03:14] RammusXu commented on #251
I have same issue: https://github.community/t5/GitHub-Actions/Self-hosted-Runner-can-t-mount-workspace-correctly/m-p/42016/highlight/false

It's about docker-in-docker problem. When you start a runner container and run jobs. Job will mount runner container's volume. But docker-in-docker will treat this as "job mount docker-host volume". That's why you can't find any files in the job's workspace.

[2020-01-02 17:03] TingluoHuang opened #254 "Upload unfinished logs from runner when worker doesn't handle cancellation and get killed"
Thank you 🙇‍♀ for wanting to create a feature in this repository. Before you do, please ensure you are filing the issue in the right place. Issues should only be opened on if the issue **relates to code in this repository**.

* If you have found a security issue [please submit it here](https://hackerone.com/github)
* If you have questions or issues with the service, writing workflows or actions, t

[2020-01-03 00:07] krumware opened #256 "Pull Request close via merge does not output expected GITHUB_REF value"
**Describe the bug**
When a pull request is merged and a pull request close action triggered, the GITHUB_REF value is not the expected `refs/pull/:prNumber/merge`

Instead, the value os GITHUB_REF is the branch name, such as `master`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new workflow in a pull request, such as testworkflow.yaml

[code]

2. Close the pull request and obse

[2020-01-03 00:10] krumware commented on #256
I recognize this may not be the best repository, not sure where to place it.
A workaround to the same issue is referenced here: https://github.com/actions/github-script/pull/9

[2020-01-03 21:04] TingluoHuang commented on #244
We are working on adding api to allow you generate the register token using your PAT.

[2020-01-03 21:22] thboop commented on #256
We aren't able to fix this in the Runner, I've filed a bug with the appropriate team to address this issue or update the documentation if this is the intended functionality.

[2020-01-03 21:22] #256 closed

[2020-01-06 15:34] dakale commented on #234
Im not sure globbing with node solves anything. Youll just get a list of files (some of which may be symlinks) and then when you try to hash them, wont you just follow the link to the target and hit the same issue? Although, there may be existing javascript implementations of things other than glob that could be leveraged

[2020-01-06 15:46] TingluoHuang commented on #234
dotnet doesn't have any api to deal with symlink, it always follow symlinks...

[2020-01-06 15:49] dakale commented on #234
Yea, my follow up was going to be youd need to detect cycles in code (tarjans, or maybe a max stack depth), or with an existing node module, or shell out to a different tool other than node that can do this. Beyond that, I dont know what the correct behavior is for hashing files that contain cyclic links, but it seems like you probably wouldnt be able to

[2020-01-06 18:03] #180 closed

[2020-01-06 18:04] #254 closed

[2020-01-06 18:05] #252 closed

[2020-01-06 20:51] ConorSheehan1 opened #258 "pipenv install fails on windows-latest unless it's in its own step"
**Describe the bug**
When using windows-latest OS, pipenv fails to create a virtual environment, unless the `pipenv install` command is in it's own step.

* build passed https://github.com/ConorSheehan1/caesar_cipher/commit/821eaaf55f3cf347b521d3080a777fbb552f5d93
https://github.com/ConorSheehan1/caesar_cipher/runs/376217672
*  build failed in the next commit after merging the `pipenv install` com

[2020-01-06 22:19] TingluoHuang commented on #258
@ConorSheehan1 I didn't fully dig in the problem but switch to use `cmd` shell on windows do fix the problem. (the default shell on windows is powershell)

[code]

https://github.com/TingluoHuang/caesar_cipher/commit/f498825752f43ac39934eda70740eed75b849096/checks?check_suite_id=386990232

[2020-01-06 22:30] ConorSheehan1 commented on #258
Hey @TingluoHuang !

Thanks for looking into it!
The action you linked to seems to still have the `pipenv install` command as it's own step called `Install python packages`. Am I missing something?

![Screenshot from 2020-01-06 22-24-36](https://user-images.githubusercontent.com/16896053/71853446-604b4600-30d3-11ea-845f-440fe188d42d.png)

[2020-01-06 23:43] TingluoHuang commented on #258
@ConorSheehan1 check the `install pipenv` step, it actually runner `pipenv install` as well, i run it twice.

[2020-01-07 05:49] bryanmacfarlane commented on #244
☝️ that's correct.  It's also an api / service workitem that's coded and will ship soon (not part of the runner)

[2020-01-07 05:49] #244 closed

[2020-01-07 05:50] bryanmacfarlane commented on #244
note that the other work I noted around containers as part of the build will call that api

[2020-01-07 08:31] ConorSheehan1 commented on #258
@TingluoHuang Ah sorry, didn't see that! Any idea why `shell: cmd` fixes it?

[2020-01-07 10:52] gregersrygg commented on #258
I had the same error. Moving `pipenv install` to it's own step avoided the problem. Can't use `shell: cmd` because the same step is also used for `Linux` and `macOS`.

[2020-01-07 15:20] TingluoHuang commented on #258
might be a bug in PowerShell, see https://github.com/actions/runner/issues/169

@gregersrygg you can use condition on the step, but due to the powershell bug, the yaml might looks ugly..

[code]

[2020-01-07 20:06] TingluoHuang opened #259 "Typo: 'run' not 'runs' on error message"
**Describe the bug**

Error message:
##[error]Top level 'run:' section is required for /home/runner/work/_actions/dragonspark/action-changelog-dawg/master/action.yml

[Repro]
Repro the error by below code, no ‘runs: ’ structure in action.yml.

(remove below 'runs' code in acton yaml. )
runs:
using: 'docker'
image: 'docker://windows-2019'

[Checked]
In the official doc, the required section is 'run

[2020-01-07 20:13] #259 closed

[2020-01-08 14:26] Lctrs opened #261 "Add support for binding a service container to host network"
**Describe the enhancement**

Selenium containers needs to be binded to host network. Looking at the documentation, I don't think this is supported yet.

**Code Snippet**

[code]

[2020-01-08 18:00] TingluoHuang commented on #261
@Lctrs we create a bridge docker network for each job run which should make your service container connected to the host network. Can you share some examples of what's not working?

@dakale FYI

[2020-01-09 01:16] nodesocket opened #262 "Setting and targeting based on custom labels"
There is mention of labels (https://help.github.com/en/actions/automating-your-workflow-with-github-actions/using-self-hosted-runners-in-a-workflow). How can I set a custom label on a actions runner instance and target it? For example we have a staging and production actions runner. If the branch = master we want to use the production actions runner, else we want to use the staging actions runner.

[2020-01-09 01:18] nodesocket commented on #245
Agree, being able to point multiple repos at a single action runner instance is a must.

[2020-01-09 21:50] xt0rted opened #264 "Dedupe annotations created by problem matchers"
**Describe the enhancement**
When running a matrix build check annotations created by problem matchers are duplicated across each workflow run. This means if you run the same workflow on macos, ubuntu, and windows you end up getting 3 of the same annotation showing in the file. This gets very noisy and since they're all the same it'd be nice if these were deduped and only one was shown or created.

[2020-01-09 22:01] silverwind commented on #264
It'd be nice if cases of exact same errors would show as one merged annotation instead, for example:

[code]

[2020-01-12 03:32] ericsciple opened #265 "Allow an empty value to be specified for jobs.<id>.container"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to build a matrix workflow where some jobs run in a container and some run directly on the VM.  I may have a cross-platform tool where I have strange dependencies that I provide via a container, or I want to run on multiple different Linux distributions, but also run on Windows and macOS.  So I would like a way

[2020-01-12 03:33] ericsciple commented on #265
@ethomson fyi i moved the issue here

[2020-01-12 08:29] ericsciple opened #267 "Commands do not allow literal `%0A`"
It should be possible to communicate literal `%0A` via commands. For example:

[code]

[2020-01-12 08:30] #267 closed

[2020-01-13 04:02] #265 closed

[2020-01-13 04:08] ericsciple commented on #265
Fixed on the runner (expression scenario). Still need to fix on the server (non-expression)

[2020-01-13 06:06] ericsciple opened #269 "Problem matcher rooted file path from container action does not work"
refer to https://github.com/actions/toolkit/issues/224#issuecomment-571304570

[2020-01-13 06:08] ericsciple commented on #269
Working on a fix... should be pretty small, will finish testing tomorrow.

This might also be a problem with job container. Test that scenario too.

[2020-01-13 06:09] ericsciple commented on #269
@edhgoose fyi

[2020-01-13 12:12] R2ZER0 commented on #262
A perhaps easier starting point could be to add the runner name as a label, so you could do something like:
[code]

[2020-01-13 14:09] bryanmacfarlane commented on #262
Custom labels are on the short backlog.  Hopefully coming soon.

[2020-01-13 16:13] dakale commented on #226
Have you started on this yet? I can pick it up

[2020-01-13 16:53] TingluoHuang commented on #226
@dakale sure, thanks.

[2020-01-13 18:27] Penagwin commented on #245
@bryanmacfarlane Is there any chance this will add the ability to run checks on pull requests from forked repositories? Our team currently forks our private repo and merges in, so our pull requests don't trigger any actions.

I know it's for security, but we're managing that through the organization access.

[2020-01-13 18:37] TrueBrain opened #271 ""add-matcher" doesn't work from within a Docker container"
**Describe the bug**
https://github.com/actions/toolkit/issues/56#issuecomment-536753187 suggests that "add-matcher" works from within a Docker container. I couldn't find a way to get this to work. "add-matcher" always uses the host file-system to lookup the file, and can't read a file from the Docker container (that I could find).

**To Reproduce**
See https://github.com/TrueBrain/actions-flake8/

[2020-01-13 18:39] ericsciple commented on #271
$RUNNER_TEMP should also work. Basically it has to be copied to one of the mapped directories since the runner is running on the host.

[2020-01-13 18:48] bryanmacfarlane commented on #245
@Penagwin - a big part of org level runners is the ability to manage (route, labels etc.) but also policy and control over things like forks.  We would ❤️ your thoughts in this area.

[2020-01-13 19:06] Penagwin commented on #245
I think it'd be great to have repo level trusted users - who's pull requests always trigger any actions even from a forked repository, and have repo level trusted forks that are allowed to run checks on pull requests.

Another more nuclear option would be a setting (per-repo) to allow running actions on any pull request to a private repository. It's likely not a good idea to let public repos have

[2020-01-13 20:24] #269 closed

[2020-01-14 22:13] edhgoose commented on #269
Thank you @ericsciple! Is that change now deployed (if not, when will I know it is)? I'll give it a spin and see if its working for me as hoped!

[2020-01-15 03:16] ericsciple commented on #269
Not deployed yet. v2.164.0 is going out soon. Based on typical rhythm, I would expect 2.164.1 to be next week or the week after.

[2020-01-15 15:43] thboop commented on #264
@xt0rted, @silverwind  thanks for the feedback!
We've brought this to the attention of the team working on Annotations to see if we can improve this experience! ✔️

This isn't an issue we could solve in the Runner, so I'm going to close this issue.

[2020-01-15 15:43] #264 closed

[2020-01-15 15:55] thboop commented on #192
Filed an internal issue to get this fixed

[2020-01-15 15:55] #192 closed

[2020-01-15 18:16] bryanmacfarlane opened #283 "Runner logs infrastructure details"
**Describe the bug**
consider this log output:
[code]
The fact that the action is run with node and the return code protocol is not relevant to the user.  the user workflow did not run node - they are setting up ruby.  the `failure` is that 2.6.3 is not found, that's it.  The second line should go to trace / _diag

**To Reproduce**
See setup ruby example above.

**Expected behavior**
The return co

[2020-01-15 18:17] bryanmacfarlane commented on #283
fyi @TingluoHuang

[2020-01-16 10:42] philipengberg commented on #283
Experiencing the same since last night

[2020-01-16 19:46] dakale commented on #283
Would it be useful to just update the error to something like: `Action has exited with code N` instead? With no error at all it relies on the action itself printing a ##error so sometimes users wont get any message at all depending on the action. We pass/fail the step based on the exit code so that contract is still in place. Could the toolkit expose an exit function that prints and message and ex

[2020-01-16 21:28] bryanmacfarlane commented on #283
The return code is an internal protocol so.

All the actions and examples so try, catch, error with a message.  If a message isn't outputted the step will still fail and there won't be an error annotation which is what the action chose to do by not outputting a message.  This will also encourage actions to output a useful message.

No, in that case the **_user_** ran something and we're outputting

[2020-01-16 21:34] Kremlin opened #286 "Allow Bypassing of SSL Cert Validation on Self-Hoster Runners"
**Describe the enhancement**

Allow bypassing SSL certificate validation

**Additional information**

When a proxy server does SSL inspection, it does a sort of "man in the middle" action with certificates, such that the certs for github.com come back as being signed from an internal CA.
Even when using the `--sslskipcertvalidation` flag, it reports:

[code]

[2020-01-16 21:49] TingluoHuang commented on #286
The runner doesn't support bypass SSL CA cert validation error. Customer needs to install their self-signed CA certs to certificate store on each platform.
Linux: OpenSSL store
macOS: keychain
Windows: Windows certificates manager

[2020-01-16 23:01] cat-turner opened #287 "pipenv install fails with python 3.8.1 and on ubunut-latest 2.164.0"
**Describe the bug**
pipenv fails on ubunut-latest '2.164.0'. The builds passed in '2.163.0'. The problem seems that it is unable to parse the python requirement version from the pipfile.

**To Reproduce**
[code]
**Expected behavior**
Install pipenv version with python 3.8.1.

## Runner Version and Platform
Version of your runner?

`ubuntu-latest`

[code]

## What's not working?
Please include err

[2020-01-17 00:48] TingluoHuang commented on #287
@cat-turner do you have some workflow runs we can take a look? Thanks

[2020-01-17 00:55] bryanmacfarlane commented on #287
new virtual-environment images just rolled out so I think this is due to that.  We may want to move this over.

[2020-01-17 08:01] Alex-ala opened #289 "Autoupdate from 2.163.1 to 2.164.0 stucks"
**Describe the bug**
We have our self-hosted runners deployed and running for some time. Today they started self-updating from version 2.163.1 to 2.164.0 . The runner downloaded the new version and at least partially copied the new data. After the automatic restart of the runner it is not processing any more jobs. Neither cancelling and restarting the job via Web, nor restarting the runner or push

[2020-01-17 08:38] Alex-ala commented on #289
It seems that the only Issue with the update is moving the old /bin and /externals to bin.2.163.1 and externals.2.163.1 and then creating the symlinks in their place.
Moving these manually and creating the symlinks manually followed by a restart also fixes the runner.

[2020-01-17 14:57] cat-turner commented on #287
@TingluoHuang our project is private. You should be able to recreate the error with the steps I have provided I think

[2020-01-17 19:04] dakale commented on #283
Thought about it more, and I agree now. Small PR here https://github.com/actions/runner/pull/290

[2020-01-17 20:47] thboop opened #291 "Base64 Masking of Secrets should account for appending strings"
The base 64 encoder handles the cases of base64(secret) and base64(prefix + secret) pretty well. However, the case of base64(secret+suffix) does not get masked in some cases.

For example, consider the workflow
[code]
We set the secret `abc` to `1234`

In our logs we see:
[code]
`MTIzNAo=` is the string `1234\n` converted to base 64. It appears in the log because we register the string `MTIzNA==`

[2020-01-19 03:06] TingluoHuang commented on #289
@Alex-ala there should be an update log under _daig folder of the runner root, the update log looks like `Update-TIMESTAMP.succeed/failed`, can you share that with us?

[2020-01-19 03:30] TingluoHuang opened #292 "Post-cleanup action doesn't run when main action failed"
**Describe the bug**
Wrapper action's post execution should always get run by default.

**To Reproduce**
Steps to reproduce the behavior:
- uses: actions/checkout@v2
   with:
      repository: notexist/notexist

**Expected behavior**
Even checkout failed, the `post-job: checkout` should get run to cleanup.

[2020-01-19 15:34] #226 closed

[2020-01-19 23:00] eine commented on #240
@dakale, what about the following comment? Should I open a new issue?

[2020-01-20 06:52] Alex-ala commented on #289
The log has neither .suceeded or .failed appended.
The content is
`
[2020-01-17 08:33:15-5683] --------whoami--------
github-runner
[2020-01-17 08:33:15-5714] --------whoami--------
[2020-01-17 08:33:15-5724] Waiting for Runner.Listener (12219) to complete
[2020-01-17 08:33:15-5733] Process 12219 still running
[2020-01-17 08:33:16-5788] Process 12219 still running
`
No additional lines are written

[2020-01-20 08:26] morihaya opened #294 "v2.164.0 OSX binary cannot unarchive"
**Describe the bug**
v2.164.0 OSX binary cannot unarchive.

I got below error.

[code]

Then tried previous v2.163.1, it worked fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `curl -O https://github.com/actions/runner/releases/download/v2.164.0/actions-runner-osx-x64-2.164.0.tar.gz`
2. Run `tar xzf ./actions-runner-osx-x64-2.164.0.tar.gz`
3. See error
[code]

**Expected behavior**

[2020-01-20 13:28] TingluoHuang commented on #294
Try Curl -O -L to follow redirect

[2020-01-20 14:28] #292 closed

[2020-01-20 16:44] morihaya commented on #294
Thank you @TingluoHuang , it worked !

[code]

This issue will be closed.

[2020-01-20 16:44] #294 closed

[2020-01-21 03:33] TingluoHuang commented on #289
@Alex-ala did you configure the runner as service? or running interactively from terminal? if you run the runner interactively, try `ps -e` to see how many runner process actually running and kill all runner processes and start the runner again.
I kind of remembered the self-update sometime stuck in a weird state where an orphan runner process somehow block normal runner execution.

[2020-01-21 06:02] Alex-ala commented on #289
Both, when manually stopped and during selfupdate, the runner has no process left running. There are no processes alive during a short period when the runner updates and restarts.
To fully answer your question: I got a systemd wrapped around the run.sh, stopping this stops all processes, although systemd is not involved in the selfupdate process.

[2020-01-21 06:22] Alex-ala commented on #289
Thank you for your hint at running it as a service @TingluoHuang .
I checked our systemd service again, it was not set up with the template that ships with the runner. The Service ran run.sh instead of bin/runsvc.sh and that seems to cause the issue. Rewriting the systemd service to use runsvc.sh solves that issue.

[2020-01-21 06:22] #289 closed

[2020-01-21 15:58] snyder-riley-pfg commented on #286
@Kremlin we were running into the same issues, and following @TingluoHuang by adding our certs to the linux ssl store did not work.

What we found was by setting `SSL_CERT_DIR` to `/etc/ssl/certs` it then trusted our certs and we were able to configure the runner.

[2020-01-21 16:14] TingluoHuang commented on #286
@snyder-riley-pfg how did you add your cert to openssl store? i think `SSL_CERT_DIR` is just another way to set trusted certs for openssl, in the end the runner still use openssl for query trusted certs.

[2020-01-21 16:23] #283 closed

[2020-01-21 16:47] dakale commented on #240
@eine Feel free to open an issue in https://github.com/actions/toolkit so we can discuss it, but my gut is that it will need to be preceded by some additional conversation about the product in general, because we likely would want some formalized concept of run or job level defaults or configuration first, followed by expressing those values in .yaml, finally adding a way to dynamically mutate the

[2020-01-21 17:27] kryptonite303 opened #296 "Support for PowerPC and Z series CPU architectures"
**Describe the enhancement**
Support PowerPC and Z series CPU architectures for the runner

**Additional information**
According to the Linux System Prerequisites doc: [https://github.com/actions/runner/blob/master/docs/start/envlinux.md](url)
And this Pull Request: #184
the runner supports x64 and ARM CPU architectures.
I have jobs that run on several different architectures, including PowerPC an

[2020-01-21 18:08] TingluoHuang commented on #243
#296

[2020-01-21 18:32] snyder-riley-pfg commented on #286
@TingluoHuang we used [update-ca-trust](https://www.mankier.com/8/update-ca-trust) to add the certs, then setting that environment variable seemed to tell the service to look where we were adding them. Perhaps before it was looking in `/etc/pki/tls` or another directory which was not where we were adding our certs.

[2020-01-22 20:00] dalehamel commented on #241
FYI as a workaround you can use `script -e -c $YOUR_USUAL_COMMAND_HERE`, but this is obviously a bit of a hack.

[2020-01-22 20:05] eine commented on #241
@dalehamel, that sounds interesting. Can you please elaborate? Is it possible to use it as a `shell`?

[code]

[2020-01-22 20:28] dalehamel commented on #241
From the manpage:

So seems like some OG Unix command lol at the "students" part... I'd never heard of it until I tried porting some tests that need a TTY to github actions. I don't care about actually saving the typescript file, but it seems to be able to fake(?) there being a TTY well enough for things that expect stdout to be a TTY to actually work.

I did a test with `shell: script -e -c /bin/

[2020-01-22 21:08] dougparrish commented on #245
@bryanmacfarlane

I have a customer that's interested in org-level runners and offers to be a *beta* tester.  Do you have an ETA for this feature, e.g. 2.21 or 2.22 or farther out?   Thanks...

[2020-01-23 04:09] bukowa opened #301 "Running on local repository"
Hello, how can i trigger a workflow on a local repository (not pushing changes) and get a report?

[2020-01-23 14:47] cat-turner commented on #287
Any status update on this issue? We still seem to have issues with 2.164.0

[2020-01-23 17:25] AArnott opened #302 "hashFiles() function should accept multiple patterns"
**Describe the enhancement**

I'm using `actions/cache` with the `hashFiles()` function as documented. But when multiple match patterns are required for an adequate cache key, it's gets tedious to write all the functions and I end up with a very long key:

[code]

What I'd like instead is to simplify the key to just:

[code]

Notice how I only have to call `hashFiles` once and the result is a sing

[2020-01-24 15:35] ericsciple commented on #301
[repository dispatch](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/events-that-trigger-workflows#external-events-repository_dispatch) can be used to trigger a run

[2020-01-24 15:36] ericsciple commented on #302
We're planning to add as separate parameters: `hashFiles('**/package-lock.json', '!toolkit/core/package-lock.json', ...)`. Hopefully will get to this soon

[2020-01-27 17:26] SeyfSV opened #317 "core.exportVariable does not set variable LD_LIBRARY_PATH value on MacOS"
**Describe the bug**
core.exportVariable does not set variable with underscores (ex. LD_LIBRARY_PATH) on macos-latest runner.
It works good on ubuntu-latest and windows-latest.
Not all variables with underscores can't be set, for example with varible ENV_VARIABLE issue does not occur.

**To Reproduce**
Create action and call core.exportVariable('LD_LIBRARY_PATH', 'test').
Run Actions within macos-

[2020-01-28 02:38] #291 closed

[2020-01-28 09:48] foxundermoon opened #306 "add pull request infomation in event"
I want to release by check contains some label after PR merged.
but can not fond it on the  `github.event`

[code]

[2020-01-29 18:16] juliobbv commented on #296
For reference for future readers of this issue: the actions runner uses .NET Core as a dependency. That means we can support the OS/CPU architectures that .NET Core itself currently supports.

https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md

Porting the runner to Go or Typescript will allow us to support a wider variety of OS/CPU arch combos.

[2020-01-29 20:00] jbergstroem commented on #243
I reckon sticking with Node.js is the way to go since most of the action landscape is written in javascript; meaning that even if you would "switch .NET for go", you would be restricted to where node.js can run.

[2020-01-29 20:09] bryanmacfarlane commented on #243
@jbergstroem - yeah, we're mostly restricted to running where node.  However, if there's a platform that go runs on but node doesn't it could still support `run:` command lines and scripts.  So I would say if we chose go, then any delta would be possible but a degraded experience.

[2020-01-29 20:10] juliobbv commented on #251
Hi @DaHuoKolmostar,

As you've noticed, the runner's work directory is being shared to containers as a volume mount. This is by design -- compared to non-container jobs, container jobs don't offer a guarantee on work directory isolation. I'd keep this in mind for the scenarios you want to use the runner.

I see that you're using a self-hosted runner. Is it an option for you to run a scheduled cron

[2020-01-29 20:15] juliobbv commented on #251
Hi @RammusXu, your comment doesn't appear to describe the same thing as the parent issue. This one is not related to docker-in-docker. Can you file a separate issue, if applicable? Thanks.

[2020-01-29 23:08] TingluoHuang opened #308 "[2.165.0 Only] Can't reference steps context in step's env block"
[code]

the run step now has FOO/FOZ set to an empty string (but works fine on 2.164.0)

[2020-01-30 13:09] jbergstroem commented on #243
Makes sense but I think it would be a confusing user story. All documentation now would have to take these exception into regard; "works except here", "works only there". I would personally prefer a consistent functionality across.

[2020-01-30 13:39] bryanmacfarlane commented on #243
It would be covered in one place - the runner download experience.  That's would also be part of the design and analysis when we choose to start this work.

[2020-01-30 13:52] bryanmacfarlane commented on #296
Dupe of #243 - please add a comment to that issue if you have specific requests.

[2020-01-30 13:52] #296 closed

[2020-01-30 13:54] bryanmacfarlane commented on #211
We already did the work to scrub PII data.  If there's a specific issue or part of that larger epic finds an issue, create a specific issue.

[2020-01-30 13:54] #211 closed

[2020-01-30 13:57] bryanmacfarlane commented on #310
The official build is from the command line.  After you build at least once, you can use VS or VS Code to code

https://github.com/actions/runner/blob/master/docs/contribute.md#development-life-cycle

[2020-01-30 21:45] ioquatix commented on #241
@bryanmacfarlane any update here?

[2020-01-30 21:57] bryanmacfarlane commented on #241
No update.  This is currently fairly low in the actions backlog priority.  It's not in the plans for the next quarter.

[2020-01-30 22:15] ioquatix commented on #241
Do you accept a PR to make it a tty?

[2020-01-31 03:19] TingluoHuang commented on #243
`golang` supported platform: https://github.com/golang/go/wiki/MinimumRequirements
`node.js` supported platform: https://github.com/nodejs/node/blob/master/BUILDING.md#platform-list

[2020-02-02 01:57] n1hility opened #312 "Ability to shutdown/disable system services on an image"
The Ubuntu images start mysql by default, which interferes with the ability to follow the service pattern with mysql (like all other databases). Steps can't be used to shutdown the service because the services block is ran earlier.

Alternatively a setup-script option would suffice.

For example, the following currently fails because of the port conflict with the pre-running service:
[code]

Ideal

[2020-02-03 06:49] zhangyoufu opened #313 "Add ability to opt out of running workflows for pull requests"
**Describe the enhancement**

Add ability to opt out of running workflows for pull requests.

**Additional information**

According to [the document](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/about-self-hosted-runners#self-hosted-runner-security-with-public-repositories):

AFAIK, there is no way to disable pull requests on GitHub. So public repositories cannot

[2020-02-03 22:50] edhgoose commented on #269
Hi @ericsciple - just checking in as I haven't seen this mentioned in the release notes, am I safe in assuming this is on production now?

I'm unfortunately not seeing it working for me. Any ideas on how I can check what's failing?

[2020-02-03 22:54] TingluoHuang commented on #269
@edhgoose it's part of 2.165.0/1 runner and it's about to release.

[2020-02-03 22:58] edhgoose commented on #269
Thank you!

On Mon, 3 Feb 2020 at 22:54, Tingluo Huang <notifications@github.com> wrote:

[2020-02-04 04:13] bryanmacfarlane opened #315 "remove temporary fix"
Can we remove this yet?

[2020-02-04 04:14] bryanmacfarlane commented on #313
This isn't a runner feature.  It's a service feature.  Please request on github community

[2020-02-04 04:14] #313 closed

[2020-02-04 04:15] bryanmacfarlane commented on #310
please confirm whether a cmd line build per the docs above allows VS scenarios.

[2020-02-04 04:16] bryanmacfarlane commented on #308
is this fixed?

[2020-02-04 04:17] bryanmacfarlane commented on #306
This is a service feature.  The context just flow through to the runner.  Please request of github community

[2020-02-04 04:17] #306 closed

[2020-02-04 04:17] bryanmacfarlane commented on #301
answered

[2020-02-04 04:17] #301 closed

[2020-02-04 04:18] bryanmacfarlane commented on #169
status?

[2020-02-04 04:20] bryanmacfarlane commented on #161
status?

[2020-02-04 04:20] bryanmacfarlane commented on #161
I think we the toolkit makes it clear what is supported (and therefore not a bug)

[2020-02-04 05:18] thboop commented on #169
Powershell 7 still is not released, but the release candidate is available. Once powershell is upgraded in the virtual environments we should verify the fix works and close this issue.

[2020-02-04 05:19] thboop commented on #315
I have a pr available to merge once the issue is resolved #316

[2020-02-04 05:20] thboop commented on #161
Agreed, going to close this issue.

[2020-02-04 05:20] #161 closed

[2020-02-04 13:02] bryanmacfarlane commented on #315
What is the virtual environments bug number that we're waiting on?

[2020-02-04 15:09] TingluoHuang commented on #315
https://github.com/actions/virtual-environments/issues/263

[2020-02-04 15:10] TingluoHuang commented on #315
another way to fix this is to add git/bin to path in dev.cmd

[2020-02-04 15:30] thboop commented on #315
That might just make sense to do to help with contributing, I'll go ahead and make that change.

[2020-02-04 17:59] #315 closed

[2020-02-04 18:19] thboop commented on #317
May be related to how we set up the .env file: https://github.com/actions/runner/blob/6c70d53eead402ba5d53676d6ed649a04e219c9b/src/Misc/layoutroot/env.sh#L12

[2020-02-04 19:37] SeyfSV commented on #317
I do not think so, because `DYLD_LIBRARY_PATH` and `DYLD_LIBRARY_PATH_A` variables have same behaviour:
![image](https://user-images.githubusercontent.com/25712100/73779886-83cee280-479e-11ea-8676-b7b1e9a8411a.png)

[2020-02-04 20:12] TingluoHuang commented on #317
might related to https://apple.stackexchange.com/questions/278385/environment-var-ld-library-path-weirdly-hidden-under-bash-on-mac?noredirect=1&lq=1

[2020-02-04 22:52] zbeekman opened #318 "Caching proxy for Homebrew/macOS"
If you have a feature request that is relevant to this repository, the runner, then please include the information below:

**I'm not 100% sure this is the correct location to file this feature request**

**Describe the enhancement**
Improve caching on macOS, especially homebrew bottles by setting `*_proxy` variables in the environment or setting `HOMEBREW_BOTTLE_DOMAIN`.

I saw that there is [an A

[2020-02-05 00:12] TingluoHuang commented on #318
Thanks for writing all this up. 👍
https://github.com/actions/virtual-environments might be a better place for this, i will find someone who has permission to transfer this issue over.

@madhurig, @bryanmacfarlane do you guys have permission to me transfer this issue?

[2020-02-05 00:14] TingluoHuang commented on #317
I am going to close this issue since it looks like a limitation of macOS. ☝️apple doc above
Feel free to reopen it if you think anything we can help.

[2020-02-05 00:14] #317 closed

[2020-02-05 00:15] TingluoHuang commented on #308
fixed.

[2020-02-05 00:15] #308 closed

[2020-02-05 07:03] michaelfig opened #319 "`hashFiles` of a non-wildcard reads the whole tree"
Refs Agoric/agoric-sdk#502
Refs actions/cache#177

**Describe the bug**
I expect `hashFiles('yarn.lock')` only to read `$workspace/yarn.lock`.

Instead, it tries to read the entire working directory subtree.  That's unacceptable when a build may create millions of files.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a cache like:
[code]
2. Create millions of files during a later step

[2020-02-05 15:00] michaelfig commented on #319
I would suggest that the `hashFiles` implementation could find the shortest common prefix of the non-wildcard pattern prefixes (stopping at a segment containing wildcards), and only read the actual filesystem starting at that path.

So:

* `/home/runner/work/agoric-sdk/agoric-sdk/mydir/**` would read the tree starting at `/home/runner/work/agoric-sdk/agoric-sdk/mydir`
* `/home/runner/work/agoric-s

[2020-02-05 15:59] michaelfig commented on #319
I see that this was fixed in #268

Where would I find out the ETA for Github Actions to be upgraded to this version?

[2020-02-05 18:07] ericsciple commented on #319
@TingluoHuang do you know whats the state of the runner release that contains glob fixes?

[2020-02-05 18:29] TingluoHuang commented on #319
The runner is in ring 0, but we need service change to deploy in order to control the rollout

[2020-02-06 02:35] n1hility opened #320 "Support for pre-services setup steps"
The services capability is an elegant way to automate the setup and tear down of a service, but there are use-cases where preparation tasks need to occur in a hook before services are started.

Possible examples include:
-  Adjusting system parameters (e.g. file descriptor limits, socket buffer sizes, etc)
-  Creating filesystem resources shared/used by containers
-  Configuring ACLs
-  Configurin

[2020-02-06 02:38] n1hility commented on #320
// cc @ethomson  @bryanmacfarlane

[2020-02-06 11:08] ethomson commented on #320
Here's another use case: I'd like to use `container`s to run my workflows, _but_ I need to do some particular docker setup on the machine before I can.  Example: setting up multiarch / QEMU support in Docker.

/cc @chrispat

[2020-02-06 13:48] bryanmacfarlane commented on #320
I wouldn't call it `setup-steps` since folks would think they should put their setup-xxx actions in there.  It would also cause oddities with checkout.  If we did it, it would be something like init-steps?  It would have to be clear it's before services starts.

In that line of thinking it could be `before` under the services node.

[code]

[2020-02-06 15:15] chrispat commented on #320
I would prefer to call it `pre` and just define that it runs `pre` on the machine.  So no services would be configured etc.  This would go along well with potentially adding a `pre` entrypoint into the actions model.

Of course then we have the question of if you can run actions there and if so what happens if they define a `pre`.  In general I think yes you can use actions and if you happen to us

[2020-02-06 16:23] adrian-gierakowski opened #321 "add timing output at group level"
NOTE: I am not 100% is this issue belongs in this repo but I couldn't find one which seemed more appropriate.

**Describe the enhancement**
Currently the UI for github actions shows the time which it took to complete the entire **step**. I believe it would be useful to show the time at the **group** level as well (the groups which are created with `core.startGroup()/endGroup()` from the [actions t

[2020-02-06 19:10] dakale opened #322 "Container/service volumes arent getting added to generated docker commands"
**Describe the bug**

Give a workflow like:

[code]

The appropriate docker option, `-v src:dst` is sometimes not generated when creating the container

[2020-02-06 19:54] n1hility commented on #320
@bryanmacfarlane good point, that behavior seems likely

@chrispat that makes to me what would the order be between an action pre entrypoint and a user defined pre. IMO an ideal order would be

1. user defined pre steps ordered as defined (including those which are actions which are inlined  as pre, then main)
2. actions defined in non-pre contexts (e.g. "steps:") that have registered a pre method

[2020-02-07 10:44] kirillgroshkov commented on #241
Jest doesn't use colors too

[2020-02-07 16:20] mhumeSF opened #323 "Make bootstrapping not interactive"
**Describe the enhancement**
Bootstrap actions/runner with just environment variables, rather than having to input arguments.

I'd like to be able to run the runner in a container and bootstrap with environment variables that answer the questions of
- What is your runner register token?
- Enter the name of runner
- Enter name of work folder

[2020-02-07 16:30] TingluoHuang commented on #323
@mhumeSF you can do unattended config with `--unattended` flag.
[code]

I think you can also use env,
[code]

[2020-02-07 17:36] mhumeSF commented on #323
Thanks so much! Couldn't find this before

[2020-02-07 17:36] #323 closed

[2020-02-07 19:20] mhumeSF commented on #323
@TingluoHuang are there public docker images for runners available?

[2020-02-07 19:24] TingluoHuang commented on #323
I think we planed but haven't started adding those, FYI, @bryanmacfarlane

[2020-02-07 22:13] mhumeSF commented on #323
@TingluoHuang One last... not certain where to discover these environment variables, but how bout for `Would you like to replace the existing runner? (Y/N)`

[2020-02-07 22:16] mhumeSF commented on #323
Got it `ACTIONS_RUNNER_INPUT_REPLACE` 😎

[2020-02-07 23:20] bryanmacfarlane commented on #323
If you're building a container also run runsvc.sh and not run.sh to handle updates.  Try to build in latest runner to avoid the update.  Also, there's an envvar in the config.sh to allow to config as root which may help with containers.  We have a story to build soon and working on it.

[2020-02-08 01:10] MarshallOfSound opened #324 "Expose GITHUB_JOB_ID as an environment variable"
**Describe the enhancement**
Expose `GITHUB_JOB_ID` as an environment variable to the running steps.  We need this in order for a job to be able to self-identify itself and potentially send it's own ID to a different service that would then use the GitHub API to perform actions (like check logs for instance).

**Code Snippet**
It looks like we need to add `job_id` to the whitelist here --> https:/

[2020-02-11 22:08] nodesocket commented on #245
👍 also looking for an eta. We have 6 repos, and I really don't want to setup and manage six virtual machines for GitHub action runners.

[2020-02-11 22:50] GABeech commented on #245
As a work-around, the runner config is done in such a way as to allow you to run multiple runners on one machine.

It's still a pain to have to setup individually for each repo, but what i'm doing is creating a folder for each repo `actions-runner-repo` and running the installation steps there. all the config is contained in that directory and the service is setup based on the directory name.

So,

[2020-02-12 01:05] TingluoHuang opened #326 "2.165.1 runner over mask log when using secrets with JSON/newline"
**Describe the bug**
Log get over masked when using JSON with newline as secret

**To Reproduce**
Steps to reproduce the behavior:
1. add a secret variable (has new line):
[code]
2. Run a workflow which `echo ${{secrets.TestJson}}`
3. all `e` and `f` in the log get masked, which causes the log un-readable.

**Expected behavior**
A clear and concise description of what you expected to happen.

## R

[2020-02-12 01:34] TingluoHuang commented on #326
for context, base64 result:
[code]

[2020-02-12 03:43] TingluoHuang commented on #326
i think the problem is for secret with single char. (we break the multline json into multiple secret, so you get `{` and `}` as secrets)
ex: you have secrets => `a`
this will cause all the `a` in your log get masked.
however with the base64trim masker we newly added, in addition to `a`, all `Y` will also get masked since base64(`a`)=>`YQ==`.

I think the easiest fix would be `if the len(secret)==1

[2020-02-12 04:56] nodesocket commented on #245
@GABeech oh ok, that workaround will be a good solution to keep a single server. Do you know if it's possible to target a particular self-hosted runner based on branch?

e.g. if branch == master use `runner-production`
        if branch == stage use `runner-stage`

[2020-02-12 06:54] jthegedus opened #327 "Support Docker Actions with dockerfile named with lowercase"
**Describe the enhancement**
I get the following error when using a **lowercased** filename for my **dockerfile** in my Dockerfile-based Action:

[code]

I would expect the file `dockerfile` to be picked up for the Build in addition to `Dockerfile`.

Renaming the file with Title case worked as expected.

[2020-02-12 10:47] Kreyren opened #328 "bug?: Unable to pull dockerimage that require login"
**Disclaimer:** I'm not sure if this is the correct place for it

Referencing https://github.com/RXT0112/Zernit/issues/48

Unable to pull dockerimages that require docker login:

[code]

Relevant check: https://github.com/RXT0112/Zernit/pull/40/checks?check_run_id=440785849

[2020-02-12 10:51] Kreyren commented on #328
nwm this is pebcak

correct configuration is:

[code]

Instead of

[code]

[2020-02-12 10:51] #328 closed

[2020-02-12 13:53] TingluoHuang commented on #327
@jthegedus where do you use `dockerfile`, in the `action.yml`?

[2020-02-12 14:42] myitcv commented on #243
Great to see this. I've [experimented with pure Go GitHub actions](https://blog.myitcv.io/2020/02/04/portable-ci-cd-with-pure-go-github-actions.html) using a thin NodeJS wrapper - from a dependency perspective Go is a great story (as well as being cross-platform).

At the bottom of the blog post I sketched out what v1 of a pure Go solution might look like:

* `uses:` directives reference main pack

[2020-02-12 15:13] thboop commented on #326
We can roll that as a temporary fix.

I don't think that's the only solution here, we shouldn't be registering `{` as a secret to begin with. { is going to be masked in all secret logs as well and I don't think that is desired behavior

[2020-02-12 21:03] Penagwin commented on #245
@nodesocket

There's no support yet for custom labels yet (!?) so that's not currently possible (We want to do the same thing).

The "closest" you can get is if each environment is on a different OS, and use the OS label, but that'd be a really, really stupid workaround.

[2020-02-12 21:21] jthegedus commented on #327
That would have been my error 🙃 Sorry for wasting your time. Hopefully in future people will see this via Google search instead of making the same mistake I did.

[2020-02-12 21:21] #327 closed

[2020-02-12 22:40] gitfool commented on #320
Another example might be configuring a docker credential helper or actually running `docker login` so that I can subsequently run a job / service using a container image from a _private_ registry.

[2020-02-13 04:24] coreywebber opened #332 "Not picking up the .env file"
So I have yet to successfully install your self hosted from you configure command by itself.
I downloaded the latest version 2.165.2, created an env file but dont see it or its effects being loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Download 2.165.2
2. Extracted into d:\actions-runners\bdw-scheduler-runner
3. Create settings.env
[code]
4. ran config.cmd
[code]
5. Then get this

[2020-02-13 04:39] TingluoHuang commented on #332
@coreywebber what file you did create, `setting.env` or `.env`? the file name should be `.env`

[2020-02-13 04:42] coreywebber commented on #332
I get a error message that i must have a file name
![image](https://user-images.githubusercontent.com/16250060/74402130-fc5e2080-4de8-11ea-9469-bce4f6f9286a.png)

[2020-02-13 04:53] coreywebber commented on #332
You know what, I was able to in powershell to rename the file.

[2020-02-13 04:55] coreywebber commented on #332
And it was picked up, but still got this message in the logs

`[2020-02-13 04:51:50Z INFO HostContext] No proxy settings were found based on environmental variables (http_proxy/https_proxy/HTTP_PROXY/HTTPS_PROXY)`

It it still resulted in a SSL Error.

[2020-02-13 05:05] TingluoHuang commented on #332
@coreywebber did you restart the runner service after you create the `.env` file?

[2020-02-13 05:32] coreywebber commented on #332
its not running to stop it, as i have not completed configuration yet.
1. Seemed like i was getting nowhere with having my creds in the string, they were not showing up in the logs and kept getting ssl errors.

2. So I took it back to an anonymous proxy config (which is what i would typically use in and Azure Agent), and it the log picked that change up and even talked successfully with api.github

[2020-02-13 08:22] ad-m commented on #243
@myitcv, in terms of providing cache for built Go modules, it is worth pointing out that in GitHub Actions currently even Docker images do not have any cache. With each use of the Docker action, the container image is built from the beginning.

[2020-02-13 11:46] TingluoHuang commented on #332
Make sure the proxy url is valid, all special characters in cred are encoded. You can use CURL to verify the url format

[2020-02-13 11:47] myitcv commented on #243
@ad-m I'll defer to you/others on how things currently work 😄

My suggestion re caching was, as I tried to indicate via the "v2", a suggestion of how an initial first cut "v1" could be improved further down the line. Absolutely not critical for v1.

[2020-02-13 13:40] bryanmacfarlane commented on #332
Let's make sure we update docs with anything that's not clear ( like the special chars encoding and verifying with curl, etc.)

[2020-02-13 13:47] bryanmacfarlane commented on #243
@myitcv - let's keep considerations of supporting go actions natively in another issue.  I want to keep this issue focused on the runner code.

[2020-02-13 13:51] myitcv commented on #243
@bryanmacfarlane 👍absolutely. Is there an open issue I should follow? Or would you like one created? If so, another issue in this repo or elsewhere?

[2020-02-13 13:54] bryanmacfarlane commented on #243
Go ahead and create one.  I guess here is the best place :)

[2020-02-13 14:39] bryanmacfarlane commented on #245
@Penagwin - custom label support work is currently underway.

[2020-02-13 14:41] myoung34 commented on #245
@bryanmacfarlane The real blocker for us using labels and cross-runner here is also long-term tokens from #244 ,

Is it possible to know if this is going to be released around the same timelines?
Also: are these milestones public? I'd be ok signing an NDA to get more information as its a major production blocker for us to stay fully in Github and not half Github half Gitlab

[2020-02-13 14:47] bryanmacfarlane commented on #245
The api to get a token has released so you can get it JIT programmatically (and not copy / paste out of the UI)

https://developer.github.com/v3/actions/self_hosted_runners/#create-a-registration-token

[2020-02-13 14:47] myoung34 commented on #245
thanks @bryanmacfarlane I missed that one!

[2020-02-13 14:47] bryanmacfarlane commented on #244
The api has released.

https://developer.github.com/v3/actions/self_hosted_runners/#create-a-registration-token

[2020-02-13 14:49] bryanmacfarlane commented on #245
@myoung34 Cool.  Yeah it just released at the end of Jan 😄

[2020-02-13 14:50] coreywebber commented on #332
## Good news
It was an encoding issue that was preventing the pick up, CURL did call it out as invalid.

[code]

## Bad News
My service account needs to be seems to not getting through the proxy, but my personal AD Account does work. This is not an issue with the Azure DevOps agent where the Service account does make it through. So I will try installing it with personal and switching over to the S

[2020-02-13 15:36] coreywebber commented on #332
Checking the logs the ServiceAccount is locked out :( now time will only tell

[2020-02-13 16:46] myitcv opened #333 "Native support for pure Go actions"
Following on from discussion in https://github.com/actions/runner/issues/243#issuecomment-585764955

**Describe the enhancement**

Native support for pure Go actions.

Go is a great choice for actions for a number of reasons, including:

* cross-platform
* using Go modules via proxy.golang.org and sum.golang.org solves most/all (citation required) of the existing software dependency issues
* fast

[2020-02-13 16:47] myitcv commented on #243
@bryanmacfarlane raised as https://github.com/actions/runner/issues/333.

[2020-02-13 17:22] bek0s opened #334 "@v2 not usable for Python C extensions"
checkout@v2 fails when using Docker image:

`quay.io/pypa/manylinux2010_x86_64`

with the following error

[code]
The above image is the official Docker image for building and distributing Python extensions. The newer version (`quay.io/pypa/manylinux2014_x86_64`) does not have this problem, but the majority still uses the manylinux1 and manylinux2010 images.

checkout@v1 does not  have this proble

[2020-02-13 17:34] bryanmacfarlane commented on #334
I think it may be the opposite - older images (manylinux2010) and newer node.  We use node 12 (latest LTS) to run actions written to run node12.

I think there's a solution to that except to use the manylinux2014 image.  I think that is the solution here.

[2020-02-13 20:33] coreywebber opened #335 "NTLM Proxy Support"
**Describe the enhancement**
I would like the runner to support proxy's that use NTLM for authentication. In my corporate environment, the service accounts are not being authorized via Basic authorization. So using using a Service Account I need it to pass the NTLM information when an Anonymous proxy is set.

**Code Snippet**
https://stackoverflow.com/questions/3141308/how-do-i-retrieve-the-userna

[2020-02-13 20:34] #332 closed

[2020-02-13 20:59] bryanmacfarlane commented on #333
One architectural note is that the runner has a goal of being self-contained and package the runtime it uses to run actions.  It can update it itself and there's scenarios around running actions in containers while the runner is in the host etc.  For example, in the action yaml, it says node12: scriptPath which makes it clear that node12 is the runtime and there's no compat surprises as things dri

[2020-02-13 21:04] bryanmacfarlane commented on #333
Also adding an argument to do this.  *if* we go after broader platform support for the runner, then allowing go actions would expand the platforms of actions at the same time.  Absent that, you end up with a degraded experience on the delta platforms (`run:` works and scripts work, don't use actions).

[2020-02-14 12:39] Lctrs commented on #261
Hi @TingluoHuang,

Sorry for the late reply.

You can see my attempts here : https://github.com/Lctrs/mink-panther-driver/pull/92/files

To be more clear, let's me explain what I'm trying to achieve.

My test setup contains :
- a web server running on the host (the VM)
- a selenium standalone chrome node running in a docker container

My test suite controls the selenium server and tells it to acce

[2020-02-14 14:19] myitcv commented on #333
@bryanmacfarlane

Thanks very much for providing the background and context, very useful.

With the [Go compatibility promise](https://golang.org/doc/go1compat), we know that we should<sup>1</sup> always be able to compile an action using the [latest stable Go version](https://golang.org/dl/). The author can specify an expected language version in their [`go.mod`](https://golang.org/cmd/go/#hdr-Th

[2020-02-16 00:49] #326 closed

[2020-02-16 03:38] n1hility opened #336 "Conditional services"
When using a matrix strategy you may have services that are only relevant to a subset of the combinations. Having the ability to use a condition would prevent resource overrun from starting every possible service that a set of permutations might use.

A workaround to this problem is to use steps with the docker command manually, but then you lose the nice service abstraction.

For example

[code]

[2020-02-18 01:31] ericsciple commented on #336
another workaround is something like:
[code]

[2020-02-19 15:55] ericsciple commented on #324
Note, the job ID in yaml is the key in the `jobs` mapping (terminology aligns with step `id` keyword in yaml). So if we expose this via the context or env var, we should consider the terminology conflict.

[2020-02-19 16:06] chipitsine opened #337 "checkout does not work on centos6"
I'm trying to run workflows on custom docker images.

here's my workflow:

https://github.com/chipitsine/haproxy/blob/master/.github/workflows/centos-6.yml

here's error

https://github.com/chipitsine/haproxy/runs/449056642

[code]

[2020-02-19 22:25] Livven opened #338 ""cannot run in wd" when running npm install in node Docker image since 2.165.2"
## Describe the bug

Since runner version 2.165.2 running `npm install` in the `node:lts` Docker image skips the `postinstall` script with the message `cannot run in wd`.

This generally happens when running the command as a root user and can be fixed with the `--unsafe-perm` flag, however this was not necessary with runner version 2.164.0 using the exact same Docker image (`sha256:454651174f54836

[2020-02-20 22:10] ScottOFX opened #340 "docker login warning stops action"
I have to build a Windows Container and then push that container into AWS ECR for use with a ECS-EC2 stack but when I attempt to perform docker login -u <user> -p <password> <repo>, docker login returns a warning the action runner terminates the step as bad.

We go through the following process

- Build the container
- Set AWS Credentials
- Assume an STS role from which to use ECR
- Get the login

[2020-02-21 21:21] dakale opened #341 "Show docker logs when service fails to start"
If a service fails to start (healthcheck becomes `unhealthy`) we could print the `docker logs`. Without being able to see logs, the job just fails and it is hard to debug

cc @jclem

[2020-02-24 02:36] jonchang commented on #262
Homebrew has forked the GitHub Actions runner to support custom labels targeting by macOS version. It'd be great if this feature gets added to the official runner!

https://github.com/Homebrew/gha-runner

[2020-02-24 16:23] jjangga0214 opened #342 "Introduce $COMMIT_RANGE (simmilar to $TRAVIS_COMMIT_RANGE)"
**Feature Request**

I think providing an env var like `$COMMIT_RANGE` would be possible. For example, Travis provides `$TRAVIS_COMMIT_RANGE`, which is the range of commits that were included in the push or pull request.

This would be very handy for incremental lint. For example,
[code]
would run eslint only for modified .js or .ts files from the last push.

P.S. For forks who want to know what t

[2020-02-24 16:53] TingluoHuang commented on #337
looks like node.js 12 requires glibc 2.17+ https://github.com/nodejs/node/blob/v12.x/BUILDING.md#platform-list

centos 6 only has glibc 2.12 https://centos.pkgs.org/6/centos-x86_64/glibc-2.12-1.212.el6.x86_64.rpm.html

we needs to use node.js 10 for centos 6 since node 10 only requires glibc 2.12
or we just doc we don't support centos 6 for javascript actions?

@bryanmacfarlane, @chrispat thoughts

[2020-02-24 17:50] TingluoHuang commented on #340
@ScottOFX
There is a PowerShell issue around it handle STDERR https://github.com/PowerShell/PowerShell/issues/4002

The workaround i can think is to pull the `docker login` out of the powershell script and run it in a CMD shell

[code]

[2020-02-24 18:22] ericsciple commented on #337
i ran into issues with out of memory problems using node 10 when launching external processes. I burned many hours trying to reduce memory before exec, but nothing worked and amount of memory process was using seemed small anyway (couple megabytes iirc) so limitation didnt make sense. I hit the issue in the setup-node repo running unit tests, and eventually switched to node 12 since that is what r

[2020-02-24 18:27] ericsciple commented on #342
@jjangga0214 does the github event payload contain the values you want?

[code]

The event json is also written to `$GITHUB_EVENT_PATH` if that helps.

[2020-02-24 18:35] TingluoHuang commented on #338
@Livven I am not sure this is a runner issue since the following run already failed with 2.164.0 runner.
https://github.com/Livven/sunnygit/runs/451977080?check_suite_focus=true#step:4:59

maybe something to do with the repo rename?  gitchops -> sunnygit

[2020-02-24 19:02] Livven commented on #338
Damn, you're right, I overlooked that. And indeed adjusting the name in the package.json to match the Github project [fixes the issue](https://github.com/Livven/sunnygit/runs/465428388). No idea what kinda magic is responsible for that, perhaps matching package name with working directory but that does not seem to be the case on Gitlab.

Anyway, thanks for your help!

[2020-02-24 19:02] #338 closed

[2020-02-24 21:25] ScottOFX commented on #340
Hi @TingluoHuang

After downloading the source for the runner I can see what you mean, also the suggestion options that are given for running powershell scripts outside of actions 'powershell -Command' etc dont work either and have the same result.

We also found issues when it came to sharing contexts for AWS between steps in actions so have now created a full PS script that grabs the code, docke

[2020-02-24 22:50] MSP-Greg opened #343 "Matrix structure"
Standard matrix workflow structure is as below, with access as `matrix.os` & `matrix.ruby`:
[code]

But the following also works, with access as `matrix.cfg.os` & `matrix.cfg.ruby`:
[code]

The 2nd type can be very helpful when the matrix is sparse.

Questions:

1. Is the second type supported?

2. If above is true, the different access syntax is messy if one changes from one to the other.  If the

[2020-02-24 23:06] MSP-Greg opened #344 "[skip ci], [ci skip], [skip Actions]"
I assume most users appreciate the support GitHub/MSFT give to public repos.  Likewise, I assume most don't want to waste resources.

Please support '[skip ci]' and '[ci skip]', and adding '[skip Actions]' would be helpful.  Both AppVeyor & Travis supported them.

I've seen many repos where people tag their PR's/commits with 'skip' it if it's just a comment/documentation  change.  Now, people stop

[2020-02-25 01:29] ericsciple commented on #343
the second type is supported.

I have a PR in an internal repo to overload `include` to solve the same problem in a little bit more elegant way. Like:

[code]

[2020-02-25 01:48] MSP-Greg commented on #343
Thanks for the response.  Overloading `include` is good, as that is more inline with other CI, where include adds jobs to the matrix.

I prefer the 'column' layout that the second option affords, as it's a little easier on the (old) eyes.

What you've proposed would leave the access the same...

[2020-02-25 01:53] ericsciple commented on #343
👍 i think we're saying the same thing.

I just wrote it differently but you could author it like this:

[code]

[2020-02-25 01:55] MSP-Greg commented on #343
LGTM.  Who's holding it up?  Just kidding...  Leave open?

[2020-02-25 02:08] ericsciple commented on #343
lol - i got sidetracked, other stuff came up. The work is done i just need to push on reviewers.

If you want feel free to leave open and I can communicate an ETA here.

[2020-02-25 03:02] TingluoHuang commented on #344
@MSP-Greg if you use that condition in Job `if`,
ex:
[code]
 it wouldn't really waste compute resource since the job condition is evaluate on server side and we won't send the job to your physical actions runner. We do still create a check run for it, but that's really light weight.

[2020-02-25 03:29] MSP-Greg commented on #344
Sorry, yes. I didn't make that clear.  Good to know it doesn't move past the server and start a runner.

It would be helpful if the list on the actions page (like https://github.com/actions/runner/actions)  didn't show the workflow, but otherwise, thanks...

[2020-02-25 03:29] #344 closed

[2020-02-25 03:52] jjangga0214 commented on #342
@ericsciple Oh, thanks!
I checked `$GITHUB_EVENT_PATH`, and it gives `before`, which is the last commit previously pushed, and `after`, which is the latest commit(current pushed commit).

[code]

This is essentially the same information as `$COMMIT_RANGE`, so the problem is solved!
However, a thing like `$COMMIT_RANGE_UNPASSED` would still be useful.
So let this issue as a feature request for it t

[2020-02-25 04:10] ericsciple commented on #344
@andymckay fyi regarding a hit on *skip ci* request

@MSP-Greg unfortunately no good open source repo for the request. But the [github actions community forum](https://github.community/t5/GitHub-Actions/bd-p/actions) is probably the best place for the request - or upvote if matches an existing topic already.

[2020-02-25 04:27] MSP-Greg commented on #344
@ericsciple

Thanks for suggestion.  I have used the Community Forum in the past, but sometime recently I got a response that was a link to a 'Feedback' form, and I thought I'd try to post issues from that point on...

[2020-02-25 18:28] TingluoHuang commented on #340
Cool, glad you are unblocked, I am going to close this issue since the problem is more on PowerShell side, feel free to reopen it if you need more help.

[2020-02-25 18:28] #340 closed

[2020-02-25 18:30] TingluoHuang commented on #321
@yaananth @andymckay for ideas.
The `::group::/::end-group::` is just a UI trick, maybe the UI can calculate the time difference?

[2020-02-25 18:36] andymckay commented on #321
Just to note that you can also click on `Show Timestamps` and see the difference between the steps. Here's a very bad example:

![Screen Shot 2020-02-25 at 10 35 57 AM](https://user-images.githubusercontent.com/74699/75276235-a3b05f80-57ba-11ea-9499-c0c467e1cc31.png)

Agreed, it might be nice to have that time on the right though. Thanks for that feedback 🙇

[2020-02-25 19:26] adrian-gierakowski commented on #321
thanks @andymckay
The timestamps are definitely useful!

[2020-02-25 21:14] andymckay commented on #321
I've filed the feedback internally, thank you once again.

[2020-02-25 21:14] #321 closed

[2020-02-26 02:29] #202 closed

[2020-02-26 12:39] hugovk opened #346 "Build system info in the log"
**Describe the enhancement**

Please could you could output the OS version along with other pertinent tools and version numbers at the start of each run?

This can really help debug problems when things are upgraded in the image. For example, Travis CI begins builds with "Build system information":

![image](https://user-images.githubusercontent.com/1324225/68320106-0aa0f000-00c8-11ea-834d-d02d84a

[2020-02-27 18:00] asbiin opened #347 "Agent.ToolsDirectory not set properly"
**Describe the bug**
UsePythonVersion is not working on self-hosted Linux agent.
Related to https://github.com/actions/virtual-environments/issues/302

**To Reproduce**
On a self-hosted agent on linux, the task `UsePythonVersion@0` will fail.
[code]

**Expected behavior**
The task  `UsePythonVersion@0` is working.

## Runner Version and Platform
Agent version 2.165.0
Os: Linux

## What's not worki

[2020-02-27 18:15] TingluoHuang commented on #347
@asbiin feels like a https://github.com/microsoft/azure-pipelines-agent issue. 😄

[2020-02-27 18:15] #347 closed

[2020-02-27 19:03] ericsciple commented on #343
The changes are merged. Should roll out to all accounts sometime over the next week or two.

[2020-02-27 19:03] #343 closed

[2020-02-28 19:52] Penagwin commented on #245
@bryanmacfarlane Is there any news or ETA on allowing pull requests from forks to trigger the builder for a private repo? This has been a big road block for us in implementing the CI, as this means our tests aren't run until after they're already merged in. We can't raise any warnings or prevent merges.

[2020-02-29 10:54] eregon commented on #343
This sounds great.
Is there a PR or updated documentation describing the new semantics?

[2020-03-01 01:10] jl-gogovapps opened #349 "OSX Runner service fails to start"
**Describe the bug**

When I ssh into my OSX box, and try to start the service, I receive the following error:
`Could not find domain for port (Aqua)`

The command I'm running is `cd actions-runner && ./svc.sh install`

The ./run.sh command works without issue

**To Reproduce**
./svc.sh start

**Expected behavior**
- The service starts
- Rebooting the machine starts the service automatically

## R

[2020-03-01 02:50] ericsciple commented on #343
@eregon Thanks for reminding me. I've added an item to my list, to update docs. Will do after the functionality rolls out to all accounts.

[2020-03-01 03:15] TingluoHuang commented on #349
@jl-gogovapps i did a quick google search on the error, looks like related permission around the SSH user and the service installed user.
what user did you use to run `./svc.sh install` and what user did you use to SSH?

[2020-03-01 03:17] jl-gogovapps commented on #349
Hey @TingluoHuang, thanks for checking in on it.   I'm ssh-ing, and then running `./svc.sh install` so it's the same user.  It's also the only primary user on the machine.

[2020-03-01 04:04] jl-gogovapps commented on #349
Looks like this did the trick for me!

[code]

I was able to reboot my machine without logging in and see the runner active

[2020-03-01 23:13] jl-gogovapps opened #350 "Switching default keychain"
**Describe the bug**

Ultimately, I'm trying to use match/gym to build apps through a self-hosted runner.

I've tried many combinations of the following:
[code]

However, the result of `security default-keychain` is always `/Library/Keychain/System`.  I can only change the system default with `sudo`

Has anyone been able to work though a similar issue?  I've found a lot of _similar_ or outdated is

[2020-03-01 23:14] #349 closed

[2020-03-02 00:10] haata commented on #334
Unfortunately manylinux2014 targets a newer version of glibc (the whole point of manylinux is to compile the python module for as old of a glibc as possible). In this particular case, it might be possible to ship another sysroot with the node plugins (and set things like LD_LIBRARY_PATH or modify the RPATH of all the libraries).

[2020-03-02 15:05] johnstevenson opened #351 "Powershell does not return the correct non-zero exit code"
**Describe the bug**
Powershell does not return the correct exit code if it is non-zero and not 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an action that outputs an exit code that is not 0 or 1.
[code]
2. See error, as in this example from https://github.com/johnstevenson/runner-actions-test/actions/runs/48177580 which shows the correct behaviour for `cmd` and `bash` and the e

[2020-03-02 15:14] silvanocerza commented on #337
I've run into this problem too.
Node.js v12.16.0 and greater can actually be compiled on CentOS 6; you need to use [devtoolset-6](https://www.softwarecollections.org/en/scls/rhscl/devtoolset-6/) and set `LDFLAGS=-lrt` when compiling as mentioned [here](https://github.com/nodejs/node/issues/30077#issuecomment-585377449).

To compile you will also need to install Python 2.7 since CentOS 6 still uses

[2020-03-02 15:17] bryanmacfarlane commented on #351
@thboop - this is a dupe right?

[2020-03-02 15:30] bryanmacfarlane commented on #337
The runner carries a version of node12 as a script runtime for javascript actions.  We can't be variable to what's on the end users machine.  Node in the path is for running user's steps / code.

[2020-03-02 15:32] bryanmacfarlane commented on #337
we also currently don't support redhat6 and centos6.  AZP had to do another build of the runner and so far in actions, we've refrained from that.  Increasing platform support is tracked in another issue.

[2020-03-02 15:34] bryanmacfarlane commented on #337
It's feature work to support redhat / centos 6

[2020-03-02 16:38] silvanocerza commented on #337
@chipitsine Try to use actions/checkout@v1, I've just tried it on CentOS 6 and it works since it doesn't require Node. actions/upload-artifact and actions/download-artifact also work.

Those actions specify `runs.plugin` on their `action.yml` and they are run directly by the runner and don't need other dependencies.

It's not the best solution but for now it will do I guess.

[2020-03-02 18:15] johnstevenson opened #353 "Default non-Windows bash is not invoked as documented"
**Describe the bug**
The documentation at https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsrun implies that when a shell is not specified on a non-Windows platform, bash (if found) will be invoked as `bash --noprofile --norc -eo pipefail {0}`.

However, this is not exactly the case.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an action

[2020-03-02 21:23] bryanmacfarlane opened #355 "Docs for registering should recommend envvar for token"
**Describe the bug**
If someone is automating configuring self hosted runners and specifies the `--token` option it could get logged to cli invocation logs (file in nix, security event log in windows).

That's mitigated by the token being time bombed but it's still possible to (and more likely in a single use scenario) for a users build to read the cli logs and grab the token before it expires.

T

[2020-03-03 21:06] thboop commented on #351
I do not believe so.

[2020-03-04 04:19] ericsciple commented on #302
reassigning to @TingluoHuang since i think he fixed this recently? likely not have rolled out to all accounts yet.

[2020-03-04 15:25] ericsciple commented on #355
STDIN (interactive config) might be your best bet. Setting env from bash will still get recorded. For example:

Run the command `export TEST_ENV_VAR=foo` then `history`

[2020-03-04 16:28] TingluoHuang commented on #302
we haven't added support for multiple patterns, we just start using `@actions/glob` which is a prereq for supporting multiple patterns

[2020-03-04 17:19] ericsciple commented on #302
oh ok. I am making changes next to fix the display name bug. Will investigate this a bit more at that time.

[2020-03-05 12:53] hross commented on #346
@hugovk thanks for bringing this up. we definitely want to do this. check out the above doc ☝️for info on how we'll do it (probably ship in the next week or so).

[2020-03-05 13:45] teohhanhui opened #358 "bash not found in node12_alpine?"
**Describe the bug**
First, my apologies if this is not the correct place for this issue, but I see: https://github.com/actions/runner/blob/6c70d53eead402ba5d53676d6ed649a04e219c9b/src/Misc/externals.sh#L142 and https://github.com/actions/runner/blob/6c70d53eead402ba5d53676d6ed649a04e219c9b/src/Runner.Worker/Handlers/StepHost.cs#L151-L152

It seems like the `node12_alpine` external tool (image) do

[2020-03-05 13:47] teohhanhui commented on #358
Uhh, I've misunderstood something, `bash` needs to be installed in the job container? And `node12_alpine` is not a container / image, but a binary.

Perhaps this could be better documented though...

[2020-03-05 19:38] MSP-Greg opened #359 "Workflow 'on:' filtering"
There are two workflows (not the yaml kind) that I have seen in repos.

A. A contributor forks the repo, creates a branch, and may want to run CI in their fork before submitting a PR.

B. A member creates a branch, and uses it as the base for a PR.

It seems that if 'A' is allowed, 'B' causes two sets of workflows to run.

I don't recall this being an issue with other CI systems.  There may be a s

[2020-03-06 14:05] JosephDuffy opened #360 "Runner path on macOS changes"
**Describe the bug**
The path the action being run in changes, which means that caching SwiftPM is not possible because it will fail with the following error:

`<unknown>:0: error: PCH was compiled with module cache path '/Users/runner/runners/2.161.0/work/PROJECT/PROJECT/.build/x86_64-apple-macosx/debug/ModuleCache/Z7RNZCZNAHFT', but the path is currently '/Users/runner/runners/2.162.0/work/PROJE

[2020-03-06 18:24] jeffrafter commented on #241
For jest you can use the env var FORCE_COLORS=true or --colors

[2020-03-08 11:50] eregon opened #368 "The CI environment variable is not set in GitHub Actions"
**Describe the bug**

The CI environment variable is not set in GitHub Actions. A lot of software relies on that to detect whether it's running in CI.
Example: https://github.com/jruby/jruby/issues/6113#issuecomment-596196601

**Area for Triage**:

**Question, Bug, or Feature?**:
Feature

**Virtual environments affected**
- [x] macOS 10.15
- [x] Ubuntu 16.04 LTS
- [x] Ubuntu 18.04 LTS
- [x] Window

[2020-03-09 17:14] khitrenovich commented on #241
It is `FORCE_COLOR=1` (note it's not plural), and it comes from [chalk](https://www.npmjs.com/package/chalk#chalklevel).

[2020-03-10 19:44] TingluoHuang commented on #360
@thejoebourneidentity for Hosted mac runner setup issue.

[2020-03-10 22:38] ericsciple commented on #324
@MarshallOfSound whitelist wont solve it. The job ID isn't in the github context.

[code]

It sounds like for this scenario you need the number ([this job_id](https://developer.github.com/v3/actions/workflow_jobs/#get-a-workflow-job)), correct?

[2020-03-10 22:47] MarshallOfSound commented on #324
@ericsciple Yes we'd need the `job_id` number that the GitHub API takes in.  If that's not in the context how can we get that exposed?

[2020-03-10 22:56] ericsciple commented on #324
@TingluoHuang @juliobbv might be able to help drive an ADR for this change. IIRC logs are best effort (although lots of retries, so likely there) and uploaded asyncronously. It's unclear to me whether adding the value would actually enable the desired scenario. Ting or Julio can help figure out.

Also it doesn't look like the runner has the job ID at all. I dumped the worker log and confirmed it's

[2020-03-10 22:57] ericsciple commented on #324
@chrispat fyi can help prioritize or redirect if there is a better place for the request

[2020-03-11 12:47] chrispat commented on #324
@MarshallOfSound CodeCov does something similar but they just use the run_id which is in the environment and context.  Is there any specific reason you need to have the job_id?

[2020-03-11 15:42] WtfJoke opened #367 "Provide runner as a Docker Image"
**Describe the enhancement**
Is it possible for you to provide official docker images for letting a runner run?

**Additional information**
We want to use self hosted runner, but we dont want to maintain machines/vms so it would be cool to have a ready to run official docker image in order to use them in services like aws fargate/azure container instances.

If im wrong here and I should have opene

[2020-03-11 16:45] vincentbrison commented on #367
Some example of runner as a Docker image:
- https://github.com/tcardonne/docker-github-runner
- https://github.com/myoung34/docker-github-actions-runner
- https://github.com/joeyx22lm/docker-github-actions-runner

Additionally, Runner running in Docker is not able to use Docker itself (https://github.com/actions/runner/blob/f9b5d626c5486d1f02b3bd45879f61834b7aeecc/src/Runner.Worker/ContainerOperat

[2020-03-12 03:14] MarshallOfSound commented on #324
@chrispat It looks like the only way to get the logs of a job is with the `job_id`? Unless I'm missing something https://developer.github.com/v3/actions/workflow_jobs/#list-workflow-job-logs

Not sure how you can pull logs without it

[2020-03-12 05:23] ericsciple commented on #324
The run id can be used [to get the job ids](https://developer.github.com/v3/actions/workflow_jobs/#list-jobs-for-a-workflow-run)

[2020-03-12 05:55] MarshallOfSound commented on #324
@ericsciple Are you suggesting we iterate through all the jobs in the run and pull the logs for each job and if any one of them contains what we're looking for we can consider it valid?  That seems do-able but sub-optimable (it'll go through an API token faster than you otherwise would)

[2020-03-13 09:40] SvanBoxel commented on #246
I have a customer requesting this. At the moment the self-hosted runner self-updates, making it possible unpredictable for production workloads.

[2020-03-13 12:52] WtfJoke commented on #367
Thank you @vincentbrison for providing these examples, I found a couple of them as well, but I am not sure if we are allowed to use them in our company (we have a restriction to use only official images). Thats the reason why I asked here. :)

The hint about docker in docker is useful (a couple of application suffer of this problem).  👍

[2020-03-13 19:01] TingluoHuang commented on #368
@maxim-lobanov we have set `GITHUB_ACTIONS=true` for this.
https://help.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables#default-environment-variables

[2020-03-13 21:02] eregon commented on #368
I think `CI` is a fairly standard environment variable to be sets in CIs. Requiring `GITHUB_ACTIONS` means it's quite verbose in the code and not portable.

[2020-03-13 21:21] TingluoHuang commented on #368
GitHub action is not only a CI system, the workflow run can be triggered on any GitHub event, like Issue create/comment, so I am not sure setting `CI=true` is appropriate for those scenarios. 😄

@chrispat to comment on this.

[2020-03-13 23:31] Emtec opened #370 "Install as service"
**Describe the bug**
Cannot install runner as service, when runner name contains spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure new runner with a name that contains spaces
2. Run sudo ./svc.sh install
3. See error

**Expected behavior**
SVC bash should just install runner as service.

## Runner Version and Platform
OS of the machine running the runner? Centos 8

## What's

[2020-03-14 00:33] xt0rted commented on #368
You can set environment variables [at the workflow level](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#env) so it's easy to add this where needed.

[code]

[2020-03-15 16:01] MSP-Greg commented on #343
@ericsciple

First of all, thanks for your work on this and elsewhere.  Having been driven (more) crazy this morning...

One idea in this issue is being able to fully specify matrix jobs as an object.  Could the same be done to allow:

[code]

I was wrestling with a repo that wanted to add jobs, but they were failing.  Currently, if one wants 'allow-failure' jobs, the only way to do so forces one

[2020-03-16 15:21] chrispat commented on #368
We could even include this in our starter workflows that are more CI oriented.

[2020-03-16 16:29] JeremyLoy opened #377 "Debug logs for hashFiles function"
The `hashFiles` function accepts a glob (which I think is parsed by the actions/toolkit glob package).

Its extremely hard at the moment to determine if your glob (and therefore cache-key) is correct as it doesn't output the names of the hashed files.

I propose the filename inputs to `hashFiles` are logged to provide a simpler, smoother, and more accurate experience using actions/cache

[2020-03-16 19:01] hross commented on #368
talked to @chrispat and we agree that making this easier is the right thing to do since this seems to reduce the friction.

[2020-03-17 09:38] nicolas-marcq opened #375 "Question: is the runner locked when executing a pipeline?"
Hi,
I don't find the answer in the doc.
Is the runner locked and not accept another jobs when already executing a pipeline?

I'm wondering because my pipeline use a docker compose to provide services, it would not woks with multiple execution of the same pipeline in the same runner.

Thanks.

[2020-03-17 14:18] ericsciple commented on #343
@MSP-Greg we're working on adding [step outcome](https://github.com/actions/runner/pull/274) which might help solve the problem. It would allow checking whether a continue-on-error step failed.

[2020-03-17 14:45] MSP-Greg commented on #343
@ericsciple

Thank you.  I did notice that.  I suspect some people would prefer that the web UI was aware. I see the benefit of step based control of it, but several people in the forum have asked for more of a job level handling, similar to what Travis & AppVeyor have.

I also noticed that the workflow UI (not the job UI) showed failed steps in it's 'annotations'.  I first looked at those and won

[2020-03-17 15:21] ericsciple commented on #375
@nicolas-marcq yes a runner is locked for the duration of a job - does not accept other jobs

[2020-03-20 17:22] evandrocoan opened #382 "The default shell for Windows (Powershell) does not show the stderr/stdout on exit error"
**Describe the bug**
For example, this build my which used the default shell for windows (powershell), did not showed the stdout or stderr of the error. It just says the command exited with some error code. Doing so, you have no ideia from which line the error comes from or what was happening: https://github.com/evandroforks/anki/runs/522520124?check_suite_focus=true#step:5:10
![image](https://use

[2020-03-20 19:56] rubencwi commented on #262
This is a critical functionality to be able to differentiate runners between environments or geo locations

[2020-03-21 01:02] Maxim-Mazurok opened #379 "Cron triggered two times at once and missed one time"
**Describe the bug**
My action is scheduled to run every hour: https://github.com/Maxim-Mazurok/google-api-typings-generator/blob/master/.github/workflows/build.yml

But recently this action got run on the same hour twice and missed another run. You can see in the log below, that I expected job to run at 16:04:xx, but it got ran on 17:04:09

This is the start times of my action:
Mon, 09 Mar 2020 1

[2020-03-21 01:19] TingluoHuang commented on #379
@andymckay do you mind take this cron trigger issue? 😄

[2020-03-21 01:39] Maxim-Mazurok commented on #379
Off topic, but @TingluoHuang profile breaks GitHub 😅

![Screenshot_2020-03-21-12-38-23-619_com android chrome](https://user-images.githubusercontent.com/7756211/77216746-e32b5b00-6b70-11ea-95cd-a63a1ba0cba0.jpg)

[2020-03-22 16:35] edenreich opened #380 "Attach multiple listeners to a single self-hosted runner"
**Describe the enhancement**
Currently if I want to add another repository to an existing self-hosted runner the following error would be triggered:

![github-selfhosted-runner](https://user-images.githubusercontent.com/16985712/77254593-43e69080-6c62-11ea-995c-eff9ea9dc2c1.png)

**Code Snippet**
Create a runner and attach it to a repository with:
[code]
Now if you want to add this runner to anoth

[2020-03-22 17:06] edenreich commented on #380
very similar to issue #245 and what is being discussed there, therefore I'm closing this issue

[2020-03-22 17:06] #380 closed

[2020-03-22 17:24] edenreich commented on #245
ping - any update or release date for cross-repo runners ?

[2020-03-23 08:07] nicolas-marcq commented on #375
Thanks.

[2020-03-23 08:07] #375 closed

[2020-03-23 16:20] dakale commented on #382
The runner captures all output from the shell processes it runs and prints them to the console. In your example it looks like you are comparing two different steps: The first one using `pwsh` is "Fix choclately install" and the `cmd` step is "Set up ripgrep ... ", so I would expect them to have different outputs.

Are you sure the first step is supposed to be outputting anything?

[2020-03-23 22:53] #322 closed

[2020-03-24 16:27] evandrocoan commented on #382
I am certain Powershell never ever tells me when there is an error. This was not the only case. Running the same commands locally on my computer, Powershell is quite verbose about their errors:
![image](https://user-images.githubusercontent.com/5332158/77451255-300e6c00-6dd3-11ea-9177-6c666166ea6e.png)

[2020-03-24 21:17] andymckay commented on #379
Thanks @Maxim-Mazurok @TingluoHuang, I've filed an issue internally with the team and we'll take a look at that.

[2020-03-24 21:41] myoung34 commented on #245
@bryanmacfarlane is this something i just spied in 2.168.0 ?

[2020-03-24 21:45] TingluoHuang commented on #245
@myoung34 those are the runner side changes, there are GitHub.com side changes still in developing. 😄

[2020-03-24 21:46] myoung34 commented on #245
*NOOOOOOOO*

[2020-03-24 21:52] asomers opened #385 "FreeBSD support"
**Describe the enhancement**
Support building the runner on FreeBSD

**Additional information**
I think FreeBSD has all the libraries that the runner needs.  And while the dotnet-sdk isn't availble from Microsoft, there is already a package for it: lang/linux-dotnet-sdk .  So it should be possible to build the runner on FreeBSD.

[2020-03-24 21:55] myoung34 commented on #245
@TingluoHuang your feature flag causes your profile to 502 😆 , yall pushing those updates to certain staff? 😜

[2020-03-24 23:50] bryanmacfarlane commented on #245
@myoung34 - yeah, we'll roll the feature flag through staff and internal rings and then bigger rings etc as part of the rollout.

If you're eager to try it and provide feedback then 👍 - let me know what orgs you want to kick the tires on.  No promises but I would ❤️ feedback.

[2020-03-24 23:57] j3parker commented on #245
We'd be interested in trying it for the Brightspace org!

[2020-03-25 10:13] nodefortytwo commented on #245
Would love to try it on getndazn, my email is rick.burgess@dazn.com

[2020-03-25 13:52] Crashdoom commented on #245
@bryanmacfarlane Would also be interested in helping trying it out on the `ConventionCatCorp` org, email is adam@concat.systems, if possible 👍

[2020-03-25 15:25] TingluoHuang commented on #377
@JeremyLoy

the v2 hashfiles function print out folloing info under debug (v2 hashfiles is still rolling out to service, should hit all service later this week or early next week)
[code]

I hope that will solve your problem?

[2020-03-25 17:42] dentuzhik commented on #245
@bryanmacfarlane your favourite feedback givers from @bolteu are CRAVING this, since our orders of new Mac Minis got blocked by COVID-19 supply chain delays and we are consistently running out of minutes 🙏

denis.tuzhik@bolt.eu
\cc ainar.sepp@bolt.eu
\cc bas@github.com

\cc @Kerizer

[2020-03-25 18:26] JeremyLoy commented on #377
Yes, this is exactly what I'm looking for.

How does one enable the debug log level?

[2020-03-26 02:21] kyamagu commented on #334
FYI, this repo hosts node12 suitable for CentOS 6.
https://github.com/jcheng5/node-centos6

[2020-03-26 06:07] BrightRan opened #387 "Unable to find type [Stubble.Core.Builders.StubbleBuilder]"
In [this ticket](https://github.community/t5/GitHub-Actions/New-Exception-on-Running-Workflow/m-p/51304/highlight/false#M8142), the customer has an action to run a script for his custom PowerShell workflow. The script includes a step to execute the command "**`Install-Module Poshstache -Force`**" to install the module **`Poshstache`**.
This action could work fine in the past, but now it failed and

[2020-03-26 07:40] Mike-E-angelo commented on #387
Looks like this issue is fundamentally due to Actions upgrading PowerShell without the explicit consent of the dependent user.  Is there a way to force PowerShell 5.1 on an image?  Is there a reason this isn't done from the outset?  It would seem that a forced upgrade to a major version would be seen as a breaking change.  Following semantic versioning, its meaning would imply exactly that.

So, i

[2020-03-26 21:46] stevo1212 commented on #387
f

[2020-03-26 21:47] stevo1212 commented on #387
s

[2020-03-26 21:48] stevo1212 commented on #387
d

[2020-03-26 21:49] stevo1212 commented on #387
.

[2020-03-26 21:49] stevo1212 commented on #387
hbdbbdb

[2020-03-27 05:15] evandrocoan opened #391 "Closing and opening a pull request doubles the number of jobs"
On the next screenshot, I have a pull request from (https://github.com/ankitects/anki/pull/528) which I hit the close and open button, to force jobs to re-run. But when the pull request opened, the old jobs (failed jobs) are kept on the list, while new running jobs are being added. The correct number of jobs on the next screenshot should be 7, but there are 14 jobs. I already tried refreshing the

[2020-03-27 14:17] mvdan opened #392 "machines appear to have pseudo-TTY issues"
**Describe the bug**

A Go test that makes use of pseudo-TTYs works fine on both Linux and Mac locally, and on Linux on Actions. However, on Mac on Actions, it fails pretty regularly, about a quarter of the time.

**To Reproduce**

1) Install Go 1.14.x
2) Clone https://github.com/mvdan/sh
3) Revert https://github.com/mvdan/sh/commit/ab43dfa8ae84bf3e4c10176a4bd4d837aa97ba9a to re-enable the flaky t

[2020-03-27 14:18] mvdan commented on #392
I should clarify - there were another 4-5 failures, but those jobs were retried and succeeded, so I don't have the links anymore.

[2020-03-27 14:26] myitcv commented on #392
We're also seeing issues with the Mac builders for the https://github.com/govim/govim project, to the extent that we had to disable the Mac tests:

https://github.com/govim/govim/commit/2d6e2fb03301c6c5f512f18b17aa0a5b00a9d575

Our tests are considerably more involved than @mvdan's so I suspect using the repro above will be simpler. But in case you need the repro steps, the linked commit gives the

[2020-03-27 14:53] mvdan commented on #392
I forgot to link our issue about this: https://github.com/mvdan/sh/issues/513

I haven't personally written a minimal reproduction program, but I imagine it would be possible given the pseudo-TTY Go library. It's a bit hard for us to come up with a reliable reproducer, given that we can't get a shell on a machine that sees the issue.

[2020-03-27 15:34] mvdan commented on #392
Literally half an hour after filing this issue, I've just found the exact same failure on ubuntu-latest:

https://github.com/mvdan/sh/runs/539777043?check_suite_focus=true

So maybe this isn't related to Mac after all. It does seem to happen more on that platform, though. I'm unable to repro the failure locally on Linux, too

[2020-03-27 15:36] myitcv commented on #392
I'm starting to wonder whether this is Go version related. We only ever ran these tests on Mac using 1.14.x

[2020-03-27 15:41] mvdan commented on #392
If that were true, wouldn't we be able to reproduce this locally? I'm completely unable to on Linux with Go 1.14.1, even after tens of thousands of runs with `stress`.

[2020-03-27 15:42] leitzler commented on #392
Could be worth testing with the preemptive scheduler disabled in CI?

[2020-03-27 15:43] myitcv commented on #392
Are you running the exact same Linux distro? Kernel etc?

[2020-03-27 22:42] mvdan commented on #392
Proving a failure positive is trivial, but proving a negative is near impossible. I guess I could have changes like that in master for a few weeks, but it seems like shots in the dark unless we actually have a working theory.

Also, note that all three failures linked above are for Go 1.13.x, so I don't think this is a recent issue with Go 1.14. I think I've had failures with 1.14, but I don't hav

[2020-03-28 03:16] EricWF commented on #245
@bryanmacfarlane

I would love if you could enable this feature for the following organizations:
  * efcs
  * libcxx

 My email is eric@efcs.ca

[2020-03-28 12:51] bryanmacfarlane commented on #245
I'll post here as soon as it can be tried out.  It's currently in the works.

[2020-03-28 17:43] hasnat commented on #245
thanks for updates. very eager to try this, if you can include organisations on my account.

[2020-03-30 02:25] RichiCoder1 opened #395 "Elastic Self-Hosted Agent Pools"
Sorry if this isn't the right repo!

**Describe the enhancement**
Support for elastic self-hosted pools. The biggest downside of using self-hosted over the GitHub-ran agents is the lack of scalability (and the loss of clean states when running).

It'd be great if you could, through some mechanism, allow the ability to scale up and down self-hosted agents.

Azure DevOps Pipelines is [currently expl

[2020-03-30 03:53] MSP-Greg commented on #343
@ericsciple

Things are different now; I hope things are well.  Any progress on the matrix include changes?

I just checked:
https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix

Thanks.

[2020-03-30 05:18] ericsciple commented on #343
Hi @MSP-Greg the matrix `include` changes have rolled out everywhere now. Here is an example:

[code]

[2020-03-30 05:24] ericsciple commented on #343
@MSP-Greg you might want to open separate issues for the annotation question, or feedback for the continue-on-error behavior surfacing in the UI. And I can @ mention the relevant folks. I'm afraid this thread will be too long for others to dig into :)

[2020-03-30 05:28] ericsciple commented on #343
Also apologies on the delayed doc updates for `include`. Roll-out to all accounts went much slower than usual. I'll update the docs soon.

[2020-03-30 13:54] jsoref opened #398 "Report SHA when retrieving GitHub actions"
If you have a feature request that is relevant to this repository, the runner, then please include the information below:

**Describe the enhancement**
Currently if someone uses a github action by tag (as opposed to sha), there's no way to know what precise version of the action was used.

Please report the SHA used for each docker action – specifically in cases when actions aren't pinned to SHAs

[2020-03-30 15:31] davidkarlsen commented on #245
I'd want to test this.
david.karlsen@evry.com org: tietoevryfs

[2020-03-30 22:12] TingluoHuang commented on #391
@andymckay for question about check suites experience for open/close PR. 😄

[2020-03-30 22:21] TingluoHuang commented on #387
You might want to use self-hosted runner if you want to control what's installed on the machine the runner runs on.
https://help.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#about-self-hosted-runners

Hosted runner provides a convenient environment for most people, but it do have the downside of losing control on the machine. :)

You can reach to https://github.com/acti

[2020-03-30 22:28] TingluoHuang commented on #385
We can't really do that for mainly 2 reasons.
- Supportability, without office support from dotnet core team, debugging any native dependency problem will be a nightmare.
- Legal, we (GitHub) might run into legal problem when we consume and redistribute 3rd party open source project.

But, we are totally fine with forking this repository and try yourselves, we are generally doing do on holding ser

[2020-03-30 22:38] wallentx commented on #245
Omgggg yas plz! I'm currently running 37 self-hosted runners in k8s.
email is `wallen@bypassmobile.com`
org is `bypasslane`

[2020-03-30 22:38] TingluoHuang commented on #377
@JeremyLoy  https://help.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run#enabling-debug-logging

[2020-03-30 22:39] TingluoHuang commented on #395
@chrispat @thejoebourneidentity from Product for this request

[2020-03-31 07:38] Mike-E-angelo commented on #387
Thank you for the suggestion @TingluoHuang.  Although, that sounds like more work. 😁

Is there not a way to "peg" a hosted image so that I am guaranteed a stable, known environment with each run in a hosted environment?

[2020-03-31 20:03] eregon commented on #343
This works nicely, thanks!

[2020-03-31 20:06] vladak opened #428 "verify configuration directive names"
I happened to setup the `checkout@v2` like so:
[code]
however instead of complaining that I used `refs` instead of `ref` it happily checkout out the `master` branch.

[2020-03-31 23:23] MSP-Greg commented on #343
@ericsciple

Sorry, it took me a little while to check this, but it is **very helpful**.  Thank you.

In Ruby we've got a couple of edge cases that this makes really easy to implement, otherwise there's lots of repeated code.

I'll open an issue re the allow-failure/continue-on-error issue.

[2020-04-01 04:20] ioquatix commented on #246
Please don't include docker by default. I already run this inside a container.

[2020-04-01 04:22] ioquatix commented on #246
Here is my suggestions:

- Don't want self-updating features, it's deployed as a versioned package. If an update is needed we will release a new package.
- Please separate the files according to unix conventions: read-only area for binaries/assets and a directory for runtime state, e.g. the user's home directory, or allow it to be specified on the command line.

[2020-04-01 06:06] bryanmacfarlane commented on #246
It's the service that demands latest and pulls the runner forward.  There are new capabilities and features on a cloud service that's rolling forward which needs changes in the runner.  Even if it's demanded only if you use a new feature, it still means a runner can get pulled forward.

So, when it gets pulled forward, if the container is referencing `./runsvc.sh`, it will handle the update code a

[2020-04-01 06:10] ioquatix commented on #246
I'd rather it stopped working than auto updated.

[2020-04-01 06:16] bryanmacfarlane commented on #246
That's possible as well.  Call ./run.sh, it will exist and not handle the update code.  Be aware that all your workflows will stop running until you build another container or manually configure all your self hosted runners again.  And you will only be able to do that with the version the service demands that you didn't want to auto update to.  So I'm not sure what the stop buys you.

[2020-04-01 06:25] bryanmacfarlane commented on #246
☝️ Also note that we are painfully aware of how this affects container scenarios and building your own.  We're thinking about that so I don't want to discount the problem here.  Just trying to explain how it works and what the current state is.  Hope that helps.

[2020-04-01 06:29] ioquatix commented on #246
I understand where you are coming from.

With CI, you are running a lot of untrusted code so maybe my argument doesn't hold much water.

That being said, you can isolate untrusted code using KVM, run it as an unprivileged user, trash the results.

However, the way the system is currently designed and distributed makes this difficult.

One would normally expect a package to have a clean split betwe

[2020-04-01 06:31] ioquatix commented on #246
Oh, I also wanted to add, auto update is a massive target for black hats.

[2020-04-01 07:01] mvo5 opened #2347 "Please support something like "allow-failure" for a given job"

[2020-04-01 07:02] bryanmacfarlane commented on #246
We'll reflect on ☝️ for a bit.  But note that there's a ton of separation right now where the runner knows nothing about yaml, the language and other service side / user features.  that's all compiled / processed service side into the simplest "job" message which is one node of the whole run graph ( a set of steps).  Those use contexts and are passed through fairly opaquely to the runner to minimi

[2020-04-01 07:20] ioquatix commented on #246
Yeah, I can understand what you are saying.

I agree it's not simple and to be honest, I see both sides of that coin.

But as someone who was trying to put together a package for users, this was non-trivial to deal with.

Right now, all the files are installed into `/var/lib/github-actions` and owned by the user of the same name. It's not ideal.

So  somehow we need to find a middle ground that al

[2020-04-01 11:27] myoung34 commented on #246
It doesnt have to stop working in general if you do deprecation warnings saying "a new version is available" for one version.

Running X
Get alert on "version y is available"
Both X and Y work
Z is released
X stops working
Y starts showing "version z is available"

would work for most scenarios. deprecation is hard for sure, but everyone would have an upgrade window in this scenario

[2020-04-01 13:58] bryanmacfarlane commented on #246
We follow the model above when we (rarely) deprecate features.  When we do it, that process ☝️ spans months.

However, this is not about deprectaion.  This is about new features getting added to the service (which users use when released.  e.g. new yaml step construct) and the runner having to add new code (not deprecating).  This is also about the runner adding new features to support new capabil

[2020-04-01 14:34] SvanBoxel commented on #246
An important consideration I would like us to think about is that some industries are simply not compliant if they run software that hasn't been explicitly verified/validated. So having a service that runs on your own infrastructure that automatically updates could mean your business is not compliant.

An explicit upgrade process, or a way to opt-out of automatic updates, would solve this complian

[2020-04-01 14:35] myoung34 commented on #246
☝️ is what I was going to follow up with.
All patches need to have a change control process of "some sort" in some regulatory environments

[2020-04-01 14:56] bryanmacfarlane commented on #246
Yep.  We've worked with those regulated environments in both azure and github.

In those scenarios, other things do not move forward.  Everything is controlled or air-gapped including the on-premise server (TFS at MS, upcoming GHES at GitHub).   It's not just the runner that's under scrutiny.

In those scenarios, when they upgrade the air gapped service, we allowed for explicit but convenient upda

[2020-04-01 18:30] timharris777 commented on #245
@bryanmacfarlane , we are waiting on this as well for large scale adoption of github actions. Would love to test with our `cfacorp` org. Thanks!

[2020-04-02 04:00] acmcelwee commented on #395
I've spent a decent amount of time working on this over the past two weeks for our initial pilot of self-hosted GH Actions runners. At the top of the list of our requirements, we have:
* Ideally, containerized. Personally, I'd rather avoid a VM-centric approach that would likely have more scale-out latency to burst with common workload spikes.
* Clean-slate for each build
* Can run in our shared,

[2020-04-02 08:59] BrightRan opened #402 "IPv6 on GitHub-hosted runners"
In [this ticket](https://github.community/t5/GitHub-Actions/GitHub-Actions-IPv6-Network-Issues/td-p/52085), the user is trying to reach the **`IPv6 address`** of Google by running the command "**`curl -6 https://www.google.com`**" on the **`GitHub-hosted Ubuntu runner`**, but it always failed to connect and returned the message "**`Couldn't connect to server`**".
The command "**`curl https://www.g

[2020-04-02 12:46] nicolas-marcq opened #403 "./config.sh remove - Failed: Removing service"
**Describe the bug**
Cannot remove the runner

**To Reproduce**
Run:
[code]

**Expected behavior**
The runner is removed.

## Runner Version and Platform
2.165.2
Linux Ubuntu 18.04

## Job Log Output
[code]

I tried by manually removing the service from systemd. Still not ok.

[2020-04-02 13:55] TingluoHuang commented on #403
try ‘sudo ./svc.sh uninstall’ first

[2020-04-02 18:38] joshmgross commented on #234
The feature flag that this is behind has rolled out everywhere. Thanks @TingluoHuang!

[2020-04-02 18:38] #234 closed

[2020-04-02 19:34] eregon commented on #368
I agree it's easy enough to set it, and starter workflows can help there.
However it's still a potential gotcha when migrating to GitHub Actions which doesn't sounds worth the effort debugging, when I think almost all other CI solutions set it.

I understand GitHub Actions is not just a CI solution, but I'd argue any code running in GitHub Actions is meant to be run "unattended, automated, CI-like

[2020-04-02 19:36] eregon commented on #368
I missed the link above, it looks like it's actually been implemented :smiley:  https://github.com/actions/runner/pull/374

[2020-04-02 19:50] TingluoHuang commented on #402
@BrightRan you want to ask at https://github.com/actions/virtual-environments
this repository is for the runner executable only. 😄

[2020-04-02 19:52] TingluoHuang commented on #387
@Mike-E-angelo you might want to check with https://github.com/actions/virtual-environments, from my knowledge, you can pin to a particular hosted image.

[2020-04-02 20:14] vladak opened #404 "verify configuration directive names"
I happened to setup the `checkout@v2` like so:
[code]
however instead of complaining that I used `refs` instead of `ref` it happily checkout out the `master` branch.

[2020-04-03 06:57] BrightRan commented on #402
@TingluoHuang Ah, my mistake 😁, thank you for your reminder.
I seems has no permission to transfer this issue to the repository **`actions/virtual-environments`**.
I have create a new issue in that repository. Close this issue and turn to follow the [issue-668](https://github.com/actions/virtual-environments/issues/668) in **`actions/virtual-environments`**.

[2020-04-03 06:58] #402 closed

[2020-04-03 09:53] bnoordhuis commented on #243
If there are problematic platforms or architectures for Node.js, that's something I can look into.

We (the Node.js project) are interested in using Actions for our CI matrix. We already test on a fairly wide range of platforms and architectures (z/os, aix, freebsd, os390, ppc64, etc.)

[2020-04-03 14:26] bryanmacfarlane commented on #246
Note that I think we should still look at investing in options here.   The points above are clarifying where we currently are with the current model.

[2020-04-03 21:18] jpb opened #406 "Support Runner inside of Docker Container"
**Describe the enhancement**

Fully support all features when runner is within a Docker container.

Not all features are currently supported when the runner is within a Docker container, [specifically those features that use Docker](https://github.com/actions/runner/blob/f9b5d626c5486d1f02b3bd45879f61834b7aeecc/src/Runner.Worker/ContainerOperationProvider.cs#L68) like Docker-based Actions and `ser

[2020-04-03 23:28] lukka opened #407 "Fail to load /home/runner/work/_actions/lukka/run-cmake/v1/action.yml`"
**Describe the bug**
since runner version  `'2.168.0'` my [run-cmake is broken](https://github.com/lukka/run-cmake/issues/11). It is working on  `Current runner version: '2.165.2'`.

[code]

My action.yml contains:
[code]

**To Reproduce**
Use lukka/run-cmake@v1 action in your workflow on GitHub.

**Expected behavior**
vcpkgTriplet should be set to the value of the env var

## Runner Version and P

[2020-04-04 00:47] TingluoHuang commented on #407
@lukka we only support using static well known context for input default value, since default value should always exists, relies on dynamic value doesn't make sense.
https://github.com/actions/runner/blob/master/src/Runner.Worker/action_yaml.json#L88

[2020-04-04 01:18] lukka commented on #407
It is unfortunate to hear that.

[2020-04-04 01:24] TingluoHuang commented on #407
@lukka do you mind share how do you use the `${{env.xxx}}` in your action's input default value?

[2020-04-04 01:42] lukka commented on #407
Sure, there is the [action.yml](https://github.com/lukka/run-cmake/blob/master/action.yml). The input parameter is named `vcpkgTriplet`.

I think i can work around this by setting the default value in the action itself, when `core.getInput()` return a blank string (afaik it never returns `null` or `undefined`).

Anyway it is a nice feature to have to be able to say "the default of this input is (p

[2020-04-05 19:46] JacobWrenn opened #408 "How to give extra privileges to the runner over the self-hosted Windows server?"
It looks like the runner uses the `nt authority\network service` account to run PowerShell commands (checked using `whoami` within the workflow).

This isn't useful when trying to deploy my app to my server. For example, I need to use `schtasks.exe` which gives `ERROR: Access is denied`.

Can I give extra privileges to the runner to avoid issues like this?

[2020-04-05 20:09] JacobWrenn commented on #408
For some extra background: I am trying to recreate a release pipeline that I had in Azure DevOps. Because the self-hosted agents over there ran commands with the `nt authority\system` account I never ran into any permissions issues.

[2020-04-05 20:58] JacobWrenn commented on #408
I found the easiest solution for my issue was to change the account the GitHub Actions service ran under.

I achieved this by using `powershell "(Get-Service actions.runner.*).name"` to find the name of the GitHub Actions service.

And then running `sc config "NAME_OF_YOUR_SERVICE" obj= "NT AUTHORITY\SYSTEM" type= own` to update it to run as the system.

[2020-04-05 20:58] #408 closed

[2020-04-06 13:56] StephenCleary opened #409 "Conditional operator or function for expression syntax"
**Describe the enhancement**

I'd like some kind of conditional operation added to expression syntax. This can be an actual ternary operator (`?` `:`) or a built-in function (e.g., `if(<condition>, <true-value>, <false-value>)`).

**Additional information**

There is a workaround: using shell scripts to evaluate the condition, setting step outputs, and having other steps reference those outputs. B

[2020-04-06 17:11] wallentx commented on #245
"and not copy / paste out of the UI"
Or.. you know, create some crazy workaround that you finally get to work 3 days after you find out the API was released :sweat_smile:
https://gist.github.com/wallentx/84bc705128c2ab1aba4989ae6a82d83d

[2020-04-06 17:34] myoung34 commented on #245
@wallentx usage for the new way is here: https://github.com/myoung34/docker-github-actions-runner/blob/master/entrypoint.sh#L9

[2020-04-06 17:53] wallentx commented on #245
@myoung34 Yessir, essentially what I'm doing currently :+1:

[2020-04-07 02:20] parndt opened #410 "Service doesn't work with SELinux (by default)"
**Describe the bug**
With SELinux enabled the service file is created with incorrect permissions.

**To Reproduce**
Steps to reproduce the behavior (using `github` user):
1. Run `./svc.sh install github` as `root` user.
2. See error

**Expected behaviour**
I expected the service to be installed.

## Runner Version and Platform
Version of your runner? v2.168.0

OS of the machine running the runner?

[2020-04-07 05:33] jpb commented on #406
There appear to be a couple more things that need to be done to account for multiple runners on the same host concurrently:

1. `docker network prune` can not run concurrently and should likely be retried if such an error is received:
[code]
1. The [docker label](https://github.com/actions/runner/blob/master/src/Runner.Worker/Container/DockerCommandManager.cs#L46) is not sufficient for isolating s

[2020-04-07 14:24] beetlikeyg087 opened #411 "get permission denied when using docker in self-hosted server"
HI all, I have an issue about using docker in self-hosted server
I have a runner installed on ubuntu 18.04
The runner is running with svc.sh
And my pipeline is using  a docker
The docker is already installed in the server and can run without sudo

[code]

logs
[code]

any idea?

[2020-04-07 18:56] thomasdullien opened #412 "2.168.0 does not work, permission issue, 2.165.2 worked fine"
**Describe the bug**
Our CI testing started failing today without any change to our .yml or other setup; the only difference is that the GitHub runner was apparently updated from 2.165.2 (which worked fine) to 2.168.0 (which does not work).

We use the "checkout" v2 action, and this seems to fail. Inspecting the raw logs, we see:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In our

[2020-04-07 19:24] TingluoHuang commented on #412
@thomasdullien can you enable step and runner debug and share log with us?
https://help.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run#enabling-debug-logging

[2020-04-07 20:21] thomasdullien commented on #412
Yes, of course :-)

Do you need the entire log? The relevant section is here:
[code]

[2020-04-07 21:04] TingluoHuang commented on #412
@thomasdullien do you mind send the full log to tingluohuang@github.com.
I can see where the problem happen, but not sure why that happen, is your workflow on a public repo that i can access? 😞

[2020-04-07 21:07] vikmik commented on #412
Hey @TingluoHuang , I'll take over from @thomasdullien for this. I'll send you the info via email. Thanks!

[2020-04-07 21:18] TingluoHuang commented on #412
@vikmik cool, let me know when you send the email. 😄

[2020-04-07 21:20] vikmik commented on #412
Sent it just now :)

[2020-04-07 21:33] vikmik commented on #412
It turns out that the following seems to be the culprit:

[code]

If I change the volume specification to something else (like `/tmp:/var/lib/clickhouse`), this error disappears. So, maybe we can't use '/' to specify volumes now? As @thomasdullien mentioned, this was working previously

[2020-04-07 21:35] vikmik commented on #412
Note that this can be reproduced without access to our private repo:

[code]

[2020-04-07 23:25] vikmik commented on #412
Note: we do have a good workaround. I'll still leave this issue open since this is a breaking change and might impact others.

[2020-04-07 23:44] TingluoHuang commented on #412
@vikmik I can't repro the issue with 2.168.0 self-hosted runner locally, looks like it only repros on the hosted runner. 😞
This might indicate something wrong with the hosted environment, like Docker version, etc.
Can you help me check your last successful build and first failed build, and sure the timestamp the run?

[2020-04-08 00:20] vikmik commented on #412
So, our last successful build was at `2020-04-07T14:49:33 UTC`
The first one that failed was at `2020-04-07T16:07:55 UTC`

However: the first failed build failed because of another reason, which I suppose is related to the same underlying issue.
Apparently we cannot provide non-absolute paths in for volume mounts anymore. Our initial config was specifying `/:var/lib/clickhouse` for the volume (not

[2020-04-08 01:14] TingluoHuang commented on #412
@vikmik I think this might caused by https://github.com/actions/runner/pull/384. We fixed a bug that we never actually use `volume` from yaml. That's something new in this runner.

Can you check your successful build to see whether we pass the volume mount into docker create like we have now?
2.168.0 Runner:
`
/usr/bin/docker create --name 1b763ce7f93b427ea93108a48fc9d6e3_yandexclickhouseserver_ae

[2020-04-08 01:55] vikmik commented on #412
Oh, so you're saying that this would have failed if that line wasn't previously ignored?

Our workaround is actually to remove that volume mount altogether, which wasn't necessary anyway :)
It is pretty confusing to see the build fail with the permission error when we map `/` to a directory inside the container(`/var/lib/clickhouse`). But what you're saying is that this issue was probably always t

[2020-04-08 02:39] TingluoHuang commented on #412
@vikmik i think i find the problem.
when you not mounting `/` the file ownership looks like
[code]
when you mounting `/` the file ownership looks like
[code]

since the runner process is running as user `runner`, when you mount `/` into container, runner lost permission to everything.

I ran about 10 runs, depends on how fast the VM in the hosted environment, I am hitting the permission problem in

[2020-04-08 14:28] kdichev commented on #411
@beetlikeyg087 I found your issue while trying to fix the same problem I managed to make the action run the docker command itself by also restarting the service with:
[code]
hope that helps

[2020-04-08 14:53] vikmik commented on #412
Ok, so since it's the clickhouse image that's doing a `chown -R` of the volume mount, mounting `/` was a bad idea on our part. The fact that it was hidden because of https://github.com/actions/runner/pull/384 made us point the finger at you, but really we shouldn't have done that in the first place regardless of that bug in GitHub actions.

I think adding the warning makes sense, but we're totally

[2020-04-08 15:17] TingluoHuang commented on #412
Glad you are unblocked and we understand the root cause, I am going to merge the PR and close this issue. Thanks for reporting this. 👍

[2020-04-08 15:17] #412 closed

[2020-04-08 20:55] andrewgxp opened #415 "[From Support] Commands Failing After Container Initialization"

[2020-04-08 20:56] #415 closed

[2020-04-09 03:20] beetlikeyg087 commented on #411
@kdichev I downgrade to version 1.164.0 and it worked. I think it's the bug of the latest version 1.168.0

[2020-04-09 04:06] granty1 opened #417 "How to change the name of self hosted?"
Hello, if I add multiple self hosts to a repository, how can I distinguish these hosts? I see that the document says `self-hosted` to declare

If I have configured two private runners for a repository, both of which are Linux based, how can I specify one of them when execute jobs?

[2020-04-09 04:50] crawford opened #418 "Folded chomping block parse error"
**Describe the bug**
When using a folded chomping block (`>-`) to specify the run command, it seems as though only the first line gets executed.

**To Reproduce**
Create a workflow like the following:

[code]

**Expected behavior**
`cargo test --verbose` should be invoked.

## Runner Version and Platform
Version of your runner? `2.168.0`

OS of the machine running the runner? `  Ubuntu 18.04.4 LTS

[2020-04-09 14:53] TingluoHuang commented on #417
@granty1 we are adding customize label support for self-hosted runner, so you can tag each runner with some tag, then use the tag in `runs-on:[self-hosted, sometag]`

[2020-04-09 15:15] Penagwin commented on #245
We would heavily benefit from this for the org `onestopinc`
If you need more information please let me know, I'm the developer responsible for our team's devops.

[2020-04-12 11:13] pcolby commented on #382
@hbuckle wrote:

That did it for me! Thanks! :smile:

As per the [MS docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_preference_variables?view=powershell-7#errorview), `$ErrorView` is now defaulted to `ConciseView`. As @hbuckle  suggested, I simply added:

[code]

And now get the more detailed output I'd expected.

[2020-04-12 17:53] evandrocoan commented on #382
@pcolby Thanks for reporting back! @alepauly, this `$ErrorView = 'NormalView'` should be the default value because it is quite frustrating having PowerShell hiding from you what went wrong.

[2020-04-13 08:25] BrightRan opened #422 "Workflow run is blocked at the automatic update for the self-hosted runner application"
In [this ticket](https://github.community/t5/GitHub-Actions/self-host-block-on-Starting-your-workflow-run/td-p/53309), the user has installed a self-hosted macOS runner and also set the proxy configuration.
when he uses this runner to run the workflow, the workflow run is blocked at the automatic update for the self-hosted runner application.
The following is the debug logs shared by the user:
[co

[2020-04-13 13:52] jossef opened #423 "windows x86 release"
please add an x86 windows release

[2020-04-13 14:39] TingluoHuang commented on #423
@thejoebourneidentity FYI.

[2020-04-13 14:43] TingluoHuang commented on #418
@crawford we don't support `>-` in workflow YAML. We only used a subset of YAML feature in the workflow.

[2020-04-13 14:45] TingluoHuang commented on #319
this should be fixed now.

[2020-04-13 14:45] #319 closed

[2020-04-13 14:47] TingluoHuang commented on #346
shipped as part of the 2.168.0 runner.

[2020-04-13 14:47] #346 closed

[2020-04-13 14:48] TingluoHuang commented on #368
shipped as part of the 2.168.0 runner.

[2020-04-13 14:48] #368 closed

[2020-04-13 14:49] TingluoHuang commented on #377
close since v2 hashFiles() has shipped to all actions' user.

[2020-04-13 14:49] #377 closed

[2020-04-13 15:03] crawford commented on #418
@TingluoHuang are the supported language features documented anywhere?

[2020-04-13 15:08] TingluoHuang commented on #418
@crawford sorry I couldn't find any better doc, but anything that not listed in [this doc](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions) is definitely not supported. 😞

[2020-04-13 15:58] mvdan opened #424 "%TEMP% is broken on Windows"
This was originally posted on the community forum last year. Since the forum seems to be winding down in activity, and I never got a response, I'm reposting it here.

--

I was running into some test failures when migrating my Windows tests from Travis to GitHub Actions. I ended up narrowing down the breakage to this simple env var:

[code]

This was causing me issues because the actual home dir i

[2020-04-13 16:05] TingluoHuang commented on #424
@mvdan thanks for reporting this, you might want to report this to https://github.com/actions/virtual-environments since they in charge of setting up the machine and user that is going to execute the runner. :)

[2020-04-13 16:07] mvdan commented on #424
Ah, my bad. Is there a way to move this issue without closing + opening another one?

[2020-04-13 16:17] TingluoHuang commented on #424
@mvdan I am trying to get permission so I can just transfer the issue for you. :)

[2020-04-13 16:38] TingluoHuang commented on #370
@Emtec thanks for reporting, do you want to create a PR to fix this? 😄

[2020-04-13 21:12] bryanmacfarlane commented on #245
I sent mails to those I could.  @Penagwin and @timharris777 send me a mail confirming the org url you want to try.  My email is my handle and that is at github

[2020-04-13 23:30] timharris777 commented on #245
Just sent an email. Thanks!

[2020-04-14 05:24] anelson commented on #245
Org-level runner support is the only thing holding us back from adopting Github Actions for our internal CI.  We'd love to get this going on the `assuriosw` org.

[2020-04-14 09:06] davidkarlsen commented on #245
With org-level runners, should there be a corresponding org-level way of obtaining the runner-tokens - similar to `https://developer.github.com/v3/actions/self_hosted_runners/#create-a-registration-token` which is repo-level?

[2020-04-14 13:10] bryanmacfarlane commented on #245
Yes, there will be an org level api to obtain a token

[2020-04-14 13:58] #335 closed

[2020-04-14 14:01] timharris777 commented on #262
This is great!! I just looked at the code changes. I think I'll be using this fork . Hoping github does this soon as it is critical functionality for us to adopt github actions.

[2020-04-14 15:05] thboop commented on #169
Powershell 7 is released and this is resolved in our Windows builds!

[2020-04-14 15:05] #169 closed

[2020-04-14 16:09] TingluoHuang commented on #258
It looks like PowerShell 7 release and has fixed the problem on the Hosted runner. I am going to close this issue, please reopen if this still happens. 😄

[2020-04-14 16:09] #258 closed

[2020-04-14 19:37] synixebrett commented on #245
I'd love to get this on the `Dynulo` organization for testing

[2020-04-15 03:28] bryanmacfarlane commented on #245
@anelson send me an email.  It’s above

[2020-04-15 10:05] vincentbrison commented on #245
Hi @bryanmacfarlane, thanks for the update! We at https://github.com/fabernovel would love to try this, as org level runners is the only feature missing for us to fully move to GitHub Action.

[2020-04-15 16:19] ericsciple commented on #428
Sorry for the delay, i guess i forgot to hit transfer before.

[2020-04-15 18:01] TingluoHuang commented on #428
@ericsciple I guess we should at latest check inputs from action.yml and inputs from the workflow, then raise a warning when they do not match.

[2020-04-16 08:43] summerwind opened #431 "How to stop self-updating"
Is there a good way to stop runner's self-updating behavior?

I'm running self-hosted runners as a Pod on Kubernetes. When a new version of self-hosted runner was released, runner tried to update itself. I think that this behavior may cause unintended problems as the Runner is updated even though the administrator does not want it.

[2020-04-17 07:42] tvdeyen opened #432 "Add ability to re-run single jobs"
Please add the ability to re-run single jobs of a workflow. This is such a basic feature.

![alchemy_cms@5d8ae3b 2020-04-17 09-22-32](https://user-images.githubusercontent.com/42868/79544647-a24f3500-808f-11ea-8055-9852b9935944.png)

Please keep the environment in mind while prioritizing features.

🙏

[2020-04-17 12:17] TingluoHuang commented on #432
@chrispat from the product team for this feedback. 😄

[2020-04-17 13:15] SvanBoxel commented on #431
Related: https://github.com/actions/runner/issues/246

[2020-04-17 13:36] bryanmacfarlane commented on #431
This is a dupe of #246 with most of the discussion captured there.

[2020-04-17 13:36] #431 closed

[2020-04-17 15:00] bryanmacfarlane commented on #246
Also note in the short term if you are running the runner in a container, you should call the `./runsvc.sh` entrypoint and not `./run.sh` which is meant for interactive running.  Calling `./runsvc.sh` will at least handle the update and not exit.

In the medium term, we also want to [support `.container` in the yaml](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#j

[2020-04-17 17:14] j3parker opened #434 "Self-hosted runner with Docker step creates files that trip up the checkout step"
**Describe the bug**
When using self-hosted runners, git checkouts are cached between runs (this is nice, because it greatly speeds up our builds).

However, if a docker-based step writes a file to the workspace it will (possibly) be owned by the root user. If the permissions don't give the (non-root) action runner user +w permission then a checkout step in a future workflow run will fail to remov

[2020-04-17 17:44] TingluoHuang commented on #434
@j3parker We should document this, basically, if you are using any container feature of GitHub Actions (container step or job container) you probably should run the runner as ROOT to avoid any potential file permission issue caused by files created by the container.

@chrispat thoughts?

[2020-04-19 09:46] ConorSheehan1 commented on #258
@TingluoHuang  it worked! Thanks for your help :)
Do you have a link to the fix from PowerShell?

[2020-04-20 12:24] tbm98 commented on #245
I'm seeing

[2020-04-21 03:12] danpintara opened #438 "Compose GitHub actions as a single GitHub action"
What I like from GitHub action is we can ensure that our action is up-to-date with available fixes in the upstream. E.g.: we can use `actions/checkout@v2` and the CI will still run with the latest version of `checkout@v2`.

Unfortunately, this facility can't be used while we're creating a GitHub action. I think it's better if we can compose multiple GitHub actions into a single GitHub action, or m

[2020-04-21 03:48] TingluoHuang commented on #438
It feels like a template reuse scenario, so you can share a list of reusable steps with others.

@chrispat @ericsciple for an idea.

[2020-04-21 07:27] karancode commented on #434
@j3parker thanks for reporting this. I am also facing the same issue.
@TingluoHuang I thought to start the runner as root but the utility `run.sh` has a check to not start runner as root.
[code]

[2020-04-21 09:22] karancode commented on #434
@j3parker I think you can simply achieve this by exporting the variable `RUNNER_ALLOW_RUNASROOT=1`.
Check [here](https://github.com/actions/runner/blob/master/src/Misc/layoutroot/run.sh#L5).
Thank you @TingluoHuang

[2020-04-21 09:48] BrightRan opened #439 "Set Locale"
In [this ticket](https://github.community/t5/GitHub-Actions/Set-Locale/td-p/54314), the user wants to change the runner machine's locale language to PT-BR, he uses the below step to do set the locale:
[code]
The locale language seems changed successfully, but when he tries to check the number formats and date formats, they are shown insistent with the locale language.

[2020-04-21 13:41] chrispat commented on #434
If you are going to use container based actions I would recommend you use a job container as well.  Mixing container and host environments does not work very well.  The  other option is to add a step to change permissions of files after the container action runs.

[2020-04-21 13:49] bryanmacfarlane commented on #434
Also, I don't think we can say must run runner as root since many folks run as systemd service and I don't think that will allow us to run as root.

[2020-04-21 13:53] bryanmacfarlane commented on #434
@karancode the reason that's an envvar is there's many scenarios (service) where it won't work as the service ends up running as a user (the user configured or one specified).  but there are some scenarios (like putting the runner in a container) where you want / need to explicitly run as root and that's why the override is there.

[2020-04-21 14:14] karancode commented on #434
@chrispat  @bryanmacfarlane Thanks.
In my case, I am running runner inside containers, so I had no other option but to run it as root.. (I tried to change permissions of files after container actions but that way isn't feasible as there could be many different actions generating multiple files.. I also tried running it as a systemd service but it was just uglier).

I also faced the issue with run.

[2020-04-21 14:17] j3parker commented on #434
Cool - when you say job containers [are you referring to this](https://help.github.com/en/actions/configuring-and-managing-workflows/about-service-containers#creating-service-containers)? I hadn't seen that before... I'll definitely try that!

Thanks! It looks like `container:` will mitigate this for us. User namespaces might be able to solve this (they can be nested) but it's a lot of custom Linu

[2020-04-21 14:34] ericsciple commented on #438
Yep it's something we want to do. Currently behind other priorities.

[2020-04-21 23:42] #428 closed

[2020-04-22 01:55] danpintara commented on #438
Please tell me about the progress later. I'm interested with this feature.

[2020-04-22 04:03] TingluoHuang commented on #439
I am able to repro the problem on a fresh Ubuntu 18.04 Azure VM without the runner at all.
Feels like a VM setup or OS problem.
Moving to the virtual-environment team for further investigation.

[2020-04-22 06:04] ioquatix commented on #246
@bryanmacfarlane one thing I considered several months ago was writing a compatible daemon in Ruby just for fun. Do you have any published specs for the GitHub Actions runner? I started reading through the C# source code but... trying to derive a protocol/specification by reading through C# is not really my thing.

[2020-04-22 07:43] ailncode opened #442 "The runner auto upgrade faild after download three times."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.The runner auto update when my CI/CD job start
2.It's download package faild three times.(My runner in china server,the net speed is very slow when download package.)
3.The runner exit and my CI/CD job wait forever^_^.
**Expected behavior**
I think my CI/CD job is the more

[2020-04-22 11:20] myoung34 commented on #245
@bryanmacfarlane can you upgrade Zapier org and octoKode org (this one i just created so i can test these features but its flagged)? That way I can keep working on the docker-actions runner and test org level stuff

[2020-04-22 12:21] bryanmacfarlane commented on #246
@ioquatix interested in `go` :). We have considered doing that for more platform coverage.  We have some design docs in this repo and I could share others but honestly a discussion might be the most productive if you're interested.  You could also watch the wire with fiddler or charles proxy in the middle - it's mostly just json over http. I'm also interested in your ideas to make it more inline w

[2020-04-22 14:31] timharris777 opened #443 "Individual permissions for organization level self hosted runners"
We are very excited with the release of organization level self-hosted runners. However, it looks like the permission structure that was released with the org level self-hosted runners is a bit limiting. The permissions selected apply to all org level runners.

**Enhancement:** I request this be enhanced so that each org level runner can have its own set of security permissions.

**Context/Scenari

[2020-04-22 14:49] TingluoHuang commented on #443
@timharris777 thanks for reaching out.

@chrispat @bryanmacfarlane for this request.

[2020-04-22 15:25] jcleira commented on #442
Happened to me too
Fixed by manually updating, in my case:
[code]

[2020-04-22 16:39] jacekkow opened #444 "shell in step cannot use job template"
`shell` parameter in `steps` context should allow ${{ job/steps. }} variables.
I can see no reason for disallowing such expressions there.

**To Reproduce**
[code]
https://github.com/jacekkow/github-actions-bugs/blob/master/.github/workflows/bug1.yml

**Expected behavior**
Step returns:
[code]

## Runner Version and Platform
GitHub Actions

## What's not working?
The workflow fails:
[code]

As far

[2020-04-22 16:58] TingluoHuang commented on #444
Shell is mean to set to ‘cmd’ ‘bash’ ‘sh’ and ‘powershell’
We do support expressions in the script content
- run: echo ${{job.status}}
   Shell: bash

[2020-04-22 20:17] bryanmacfarlane commented on #245
This shipped today.  https://github.blog/changelog/2020-04-22-github-actions-organization-level-self-hosted-runners/

Thanks for all the feedback we've received so far.  There's also future work for more improvements in this area but it's supported now.

[2020-04-22 20:17] #245 closed

[2020-04-22 20:23] myoung34 commented on #245
![](https://media.giphy.com/media/2alKkyRFPKRSU/giphy.gif)

[2020-04-22 20:40] jacekkow commented on #444
Per docs:

https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell

So I'm defining custom shell and its options (as documented). I really don't see a reason for "run" accepting expressions and "shell" not.

[2020-04-22 21:24] TingluoHuang commented on #444
@chrispat for whether we allow expression in script's `shell` option

[2020-04-22 22:54] chrispat commented on #444
I don't see any reason not to.  The only reason we don't allow it is `uses` is so we can implement policy to prevent running certain actions.

[2020-04-22 23:18] bryanmacfarlane commented on #443
👋 @timharris777 - yep, we have feature work on the backlog for adding some sort of grouping construct that permissions can hang off of.

[2020-04-23 04:41] arhue opened #445 "Tag releases correctly"
**Describe the bug**
Releases are being incorrectly tagged, breaking Docker flow.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/actions/runner/releases/tag/v2.169.1
2. See `Pre-release` when the version is not pre-release for x64.

**Expected behavior**
Releases should be marked with the correct tag.

This is important for me because I am referencing the latest rel

[2020-04-23 14:13] TingluoHuang commented on #445
I flip the `pre-release` tag to `release` when the runner deploys to all repositories across GitHub.
We have 3 deployment rings, (0, 1, 2, 3), `0` is `GitHub` internal, `1`/`2`/`3` for public customers, and more customers in outer rings.

you might want to use the following API to figure out what runner version available for your repository.
https://developer.github.com/v3/actions/self-hosted-runn

[2020-04-23 15:19] Yanjingzhu opened #449 "Post cache failed with "The template is not valid. hashFiles('**/Makefile') failed." on MacOs"
There is the ticket in community forum. https://github.community/t5/GitHub-Actions/Mac-OS-build-are-random-cancelled-no-I-do-not-have-fail-fast/td-p/54494
Customer reports that the post cache action on macos was failed randomly result in job cancellation. There is an example workflow run which met this issue: https://github.com/ankitects/anki/actions/runs/81024319
Restart the build process works f

[2020-04-23 15:59] TingluoHuang commented on #449
I think this is the side effect of the runner gets killed on the host machine which should never happen, I am following up with actions-compute team for this.
The error means the runner didn't get the correct result when executing `node hashFiles.js`, `node` exit with nonzero exit code. We do print the stderr/stdout to debug, but I think I will include those outputs in the exception message when t

[2020-04-23 18:25] lyndsey-ferguson commented on #417
One question, I saw that the new labels feature was added, can I make `sometag` be dynamic? Like create variable can be different based on whether the event is on master or a dev's branch?

`runs-on: [self-hosted, is_master]`
?

[2020-04-23 19:12] TingluoHuang commented on #449
https://github.com/github/c2c-actions-compute/issues/713

[2020-04-24 02:15] arhue commented on #445
Makes sense. Thanks for the explanation. That API worked well. Thanks!

[2020-04-24 02:15] #445 closed

[2020-04-24 15:29] davidkarlsen opened #454 "expose runner-status in API"
**Describe the enhancement**
Today the api only exposes on/offline status: https://developer.github.com/v3/actions/self-hosted-runners/#list-self-hosted-runners-for-a-repository

It would be better if the API could show if the runner is occupied with a job or not (like in the UI).

We want to use this to dynamically provide self-hosted runners based on demand.

usecase:
1. package runner as docker

[2020-04-24 21:44] myoung34 commented on #245
@bryanmacfarlane when registering a runner do you register to a repo and specify labels to be able to access other repos on the org?

I see the addition of `--labels` on the ADR but i dont see any API changes for registration, I also don't see any flags that changed for repo.

If i don't specify `--url` on config.sh it still prompts for one:

[code]

[2020-04-25 03:23] tbm98 commented on #245
Currently it still doesn't work with forked private repos.

[2020-04-26 03:50] ailncode commented on #442
CI/CD must b an automation process.
But, I need fixed it by manually every times when the runner need upgrade.
I think the CI/CD jobs is more important than upgrade.

[2020-04-26 14:37] rbellamy opened #455 "Please have JobRunner load /etc/environment from the runner"
**Describe the enhancement**
The JobRunner should load the contents of `/etc/environment` at startup. I realize the environment is launched with `--norc`: https://github.com/actions/runner/blob/6c70d53eead402ba5d53676d6ed649a04e219c9b/src/Runner.Worker/Handlers/ScriptHandlerHelpers.cs#L14

It is surprising to realize there is a slew of environment variables and tools pre-installed by the runner th

[2020-04-26 19:07] TingluoHuang commented on #455
@rbellamy here is the reason we don't populate environment variables. 😄
https://github.com/actions/runner/blob/master/docs/adrs/0278-env-context.md#dont-populate-the-env-context-with-environment-variables-from-runner-machine

[2020-04-26 19:21] rbellamy commented on #455
Thanks so much for your answer! So the choice was deliberate. :)

[2020-04-26 19:21] #455 closed

[2020-04-28 04:17] TingluoHuang commented on #442
@ailncode, @jcleira  how long does it take for you to download the runner package using CURL or browser? the timeout on download is 15 minutes in the runner.

[2020-04-28 05:35] Akianonymus commented on #241
You are a life saver 👌

[2020-04-28 10:56] jacek-jablonski opened #456 "Ability to run jobs and step conditionally based on path changes"
We are able to run workflows based on changes i paths (on.<push|pull_request>.paths). It would be very useful to be able to specify similar condition for jobs and steps. It would allow to simplify building workflows where f.e. some jobs are based on other jobs, which in order are based on path changes.

[2020-04-28 11:08] ioquatix commented on #241
I feel like every tool adding a `FORCE_COLOR=1` or `--use-colors` argument is simply the wrong solution to this problem. I'm disappointed that this is not higher on the agenda. The "collateral damage" is non-trivial, in the sense that this behaviour is forcing a lot of 3rd party tools to implement functionality *just* to work around it.

[2020-04-28 12:23] samsour opened #457 "Self-hosted runner config does not work"
**Describe the bug**
My server can't complete the setup with config.sh.
Running on Ubuntu Server 16.04.

## What's not working?
If I run ./config.sh and enter the repository name and token it just does nothing like it's hung up or something until I shut it down. No error message displayed.
Also happens with --url and --token directly set in the script call.

## Runner and Worker's Diagnostic Logs

[2020-04-28 18:30] timharris777 opened #458 "A way to manage access around who can edit contents of `.github/workflows/`"
**Enhancement**: Provide role separation around who can edit contents of `.github/workflows/`

**Reasoning**: In an organization setting you have a lot of people who have write access to repositories. Add github actions workflows and secrets manager (think org level secret manager when it is released) and every person with write access could change a workflow file or create a new workflow file to

[2020-04-28 18:42] timharris777 commented on #443
Just curious what quarter this backlog item is slated for? I ask because I'm working on automation around ephemeral repo level runners for our organization to work around the missing security on org level runners. If it's going to be sooner than later I might punt on this work.

[2020-04-29 02:51] missedone commented on #443
i have similar case here, for now, i think one workaround is to specify the runner label for grouping, but not access isolation.

[2020-04-29 13:49] TingluoHuang commented on #262
@MalloZup I think the feature is out there and you can take a try.
https://help.github.com/en/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners

[2020-04-29 15:11] MalloZup commented on #262
@TingluoHuang thx a lot! :cupid:

[2020-04-29 17:16] davidkarlsen commented on #262
[code]

[2020-04-29 17:17] davidkarlsen commented on #262
Nothing in cmdline help:
[code]

[2020-04-29 17:24] davidkarlsen commented on #262
though it does seem to work! :-)

[2020-04-29 17:30] TingluoHuang commented on #262
@davidkarlsen Oops... thanks for reporting, looks like we forgot to update the CLI help

@lokesh755 for fixing this. 😄

[2020-04-29 20:17] MalloZup commented on #262
@davidkarlsen  yes the GUI is working allthough the CLI need a fix.

@TingluoHuang  I would perhaps rename the issue with this info at least.

[2020-04-29 20:23] davidkarlsen commented on #454
Any thoughs on this @bryanmacfarlane ?

[2020-04-29 23:49] MSP-Greg opened #460 "Windows - steps - custom shell"
**Describe the bug**

Attempted to use a custom shell on Windows.  Using MSYS2, and wanted to use its bash/sh, rather than Git's.  Path has been set to do so.

In https://github.com/actions/runner/blob/master/docs/adrs/0277-run-action-shell-options.md, it states:

'The first word of the formatted string is assumed to be a command, and we attempt to locate its full path'

It seems this is done with

[2020-04-30 02:44] rubencwi commented on #262
experiencing the same problem with labeling from CLI

[2020-04-30 07:16] ailncode commented on #442
@TingluoHuang I'm not sure. some times it's very fast and some times it's very slow.
and GFW may be disconnect the download...

# curl -O -L https://github.com/actions/runner/releases/download/v2.169.1/actions-runner-linux-arm64-2.169.1.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Spee

[2020-05-01 23:53] lukka opened #461 "matchers: `fromPath` could be a literal (an actual path instead of a integer), or sibling to `owner`"
@ericsciple  this may be of your interest. I am trying to create a matcher for CMake. This is a sample of an error reported by CMake:

[code]

As you see the output does not contain the main CMakeLists.txt, but it contains a relative path to it.
Now if the main CMakeLists.txt file is not in the root of the repository, the path "root/subdir1/subdir2/CMakeLists.txt' will not be rooted [by this code]

[2020-05-02 11:52] dungahk opened #463 "Create a new env var for the branch name"
**Describe the enhancement**
We already have access to the branch/PR/tag ref name which is good but having an easy way to get the actual branch name is a really important feature.

Gitlab has two very good variables for that: (by the way, they very handy for me)

- `CI_COMMIT_REF_NAME` for the branch/tag name
- `CI_COMMIT_REF_SLUG` a slug for the branch/tag name

Ref: https://docs.gitlab.com/ee/ci

[2020-05-03 19:09] t3mi opened #464 "Add configurable cancel timeout parameter"
**Describe the enhancement**
For our case we need to do some infrastructure cleanup (which was provisioned for the test runs in the same workflow) but with current static 5 min cancelation timeout we unable to do it in time if deployment fails. It would be great if there would be a configurable parameter added, at least for self-hosted runners, which will cover such scenario.

**Code Snippet**
[co

[2020-05-03 19:20] t3mi opened #465 "Add capability (environment variable) to hide specific environment variables from runner process"
**Describe the enhancement**
This is a feature request to add capability for ignoring some environment variables for the runner process so that either PAT or runner token would not be present in environment variables for the actions in case it was provided as an environment variable during automation deployment process, for example, in docker scenario.

**Code Snippet**
This could be provided as a

[2020-05-03 23:46] MOZGIII opened #466 "Add a function to merge objects"
**Describe the enhancement**

I need a function to merge two (or more) objects into a single object.

**Code Snippet**

[code]

**Additional information**

Some considerations on the design that I think would be a good fit:

- should have a defined behavior for conflicting keys (i.e. which takes priority)
- should accept `null` values and treat them as empty objects
- should be able to take more t

[2020-05-04 23:53] davidkarlsen commented on #454
Bump. @bryanmacfarlane

[2020-05-05 07:49] mrturkmen06 commented on #411
Seems the suggestion from @kdichev is correct, it worked me as well. I do not think there is a bug related to this particular problem in latest version. @beetlikeyg087

[2020-05-06 15:29] MSP-Greg opened #467 "expose defaults: run: working-directory: as env variable?"
Recently the following was a welcome addition to the runner yaml syntax:
[code]

Some repos are actually several projects/packages/gems, etc, and they may use this feature.  Often, various config files would be located in the working-directory, and custom actions may be loading them.

Hence, exposing `working-directory` as an env variable would allow the custom actions to make use of it.  At prese

[2020-05-06 15:39] bryanmacfarlane commented on #467
Isn't that just `$(pwd)` for a bash script or `process.cwd()` for an action / js script?

[2020-05-06 15:47] MSP-Greg commented on #467
I searched for `working-directory`, found some code (c# ?), and couldn't really see what it was doing.  I'll check in a custom action. To see if the pwd has changed...

[2020-05-06 15:51] eregon commented on #467
@bryanmacfarlane I think the issue is that `- uses: my/action@v1` will not run in the `working-directory` specified by the defaults.
We should check though, maybe it does that, but the docs clearly say the working dir only applies for `- run:`.

[2020-05-06 15:55] MSP-Greg commented on #467
Doing that right now...

[2020-05-06 16:12] MSP-Greg commented on #467
@bryanmacfarlane

The setting is not picked up by custom actions (steps using `uses:`), but is it picked up by scripts (steps using `run:`).

[2020-05-06 17:15] bryanmacfarlane commented on #467
Yeah, `working-directory` is a `run:` specific concept I believe.  For actions I believe the working directory is always the root of the repo??

[2020-05-06 18:10] MSP-Greg commented on #467
Yes, and I did double check.

My feature request is that it be exposed (readonly) so custom actions can use it.  As mentioned above, Ruby world could use It for reading config files.  I suspect more apps may also have the same need.  Granted, custom actions are `run:`, but it seemed like an odd distinction for `defaults:`...

[2020-05-07 19:37] ericsciple commented on #422
Was it an intermittent issue? Or is it still failing?

Try downloading `https://github.com/actions/runner/releases/download/v2.168.0/actions-runner-osx-x64-2.168.0.tar.gz` using curl. If proxy, then may be failing due to redirect to different hostname.

[2020-05-11 06:51] davidkarlsen commented on #395
Related: https://github.com/actions/runner/issues/454

[2020-05-11 16:36] #262 closed

[2020-05-11 19:25] TingluoHuang commented on #310
closing... please reopen if suggested not working. ☝️   😄

[2020-05-11 19:25] #310 closed

[2020-05-11 19:33] TingluoHuang commented on #358
Yes, any executable you use needs to be installed in the job container. 😄

[2020-05-11 19:33] #358 closed

[2020-05-11 22:02] ctorentride commented on #245
@bryanmacfarlane Hanging while trying to load "Add self-hosted runner" instructions, there's just a spinner. It works perfectly at my repos level but there's something wrong at the organization. I've tried different browsers.

[2020-05-11 22:18] MarshallOfSound commented on #324
@ericsciple Just circled back to this and it looks like with the new `GITHUB_JOB` variable we can do a more exact job lookup now using the API.  However I think I just hit this issue you predicted earlier.

They may be best effort but afaics the logs aren't available in the API at all until the job completes.  Are their any plans to allow us access to the logs before the job completes, otherwise I

[2020-05-11 22:54] ericsampson opened #475 "usage of add-mask still echoes the value to the log"
**Describe the bug**
According to [https://github.com/actions/runner/issues/159], the issue where the `add-mask` workflow command echoes/leaks the secret was supposed to be fixed, but we still observe it.
This was also mentioned on the [GitHub forum by a Partner](https://github.community/t5/GitHub-Actions/Does-add-mask-work-at-all/m-p/57485/highlight/true#M10219)

**To Reproduce**
Steps to reprodu

[2020-05-12 05:47] FabianKoestring commented on #245
I think that is another not less important problem!

[2020-05-12 07:09] missedone commented on #454
i'm looking for the similar features.
i'd like to implement auto scaling out for the runners based on metrics like how busy it is.

[2020-05-12 20:08] #370 closed

[2020-05-12 20:22] TingluoHuang opened #477 "Input validation warning for `Run` step in 2.262.0 runner."
https://github.com/actions/canary/actions/runs/102763474

![image](https://user-images.githubusercontent.com/1750815/81741528-b6a70780-946c-11ea-90c3-df1cb31787fe.png)

[2020-05-12 20:22] #477 closed

[2020-05-13 16:42] robertbrignull opened #479 "In action.yml, the ability to pass CLI arguments to nodejs or set environment parameters"
When writing a javascript action, it would be useful to be able to pass arguments to nodejs or set environment variables before it starts, or ideally have both options.

The specific use-case I wanted this for was to pass the `--enable-source-maps` command line argument, or alternatively set it using the `NODE_OPTIONS` environment variable.

[2020-05-13 17:13] bryanmacfarlane commented on #454
@hross to look at priority

[2020-05-13 17:17] bryanmacfarlane commented on #454
I pinged some folks to at least get some 👀 on it :)

[2020-05-13 17:42] hross commented on #454
I added this for internal discussion. I like the feature, I think it deserves some priority. Let me see where we can fit it...

[2020-05-13 18:04] jpb commented on #406
@TingluoHuang @bryanmacfarlane I'm hoping to get your feedback on this – getting official support for this would be a huge help for me. I'm happy to work on an implementation if that is helpful.

[2020-05-15 13:58] timharris777 opened #480 "Workflow level `env` does not work properly in all fields."
**Describe the bug**
When using workflow level environment variables they do not work when I use them to substitute for `jobs.build.name` or `jobs.build.runs-on`. See workflow file below for example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.- Run the workflow file above to receive the following error:
`The workflow is not valid. .github/workflows/dev.yml (Line: 15, Col: 11): Unr

[2020-05-15 15:11] hross commented on #454
one thing to note here is even if you get this API you may have a race condition unless you can disable an agent (stop it from picking up more builds) because it might pick up another build while it is idle, before you kill it.

[2020-05-15 15:31] davidkarlsen commented on #454
@hross Yes - it won't be bullet-proof. It's possible to add a preStop hook: https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/ which could tail the status of the build log in order to let the  running build finish - but it's a bit of a hack. But at least it should be easy to scale up this way.

[2020-05-15 20:07] shoukoo commented on #442
I am also having an issue when the runner auto-upgrades from version 2.169.1 to 2.262.1.

[code]

This is in the _update.sh
[code]

Is there a flag to prevent the runner from auto-upgrading itself?

[2020-05-16 10:42] vsaravind007 opened #481 "Self Hosted Runner In Service Mode Not Working On MacOS Catalina"
**Describe the bug**
When running as service, runner is not picking up jobs & Github Actions UI is waiting for the job to start. Setup was done and the runner works correctly in interactive mode `./run.sh`. There are no installation errors or service errors, service status shows 'running', but will never pickup a job.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to runner folder, run `

[2020-05-17 14:23] MSP-Greg opened #483 "Matrix Jobs - Sorted for start order?"
**Describe the enhancement**

When running a workflow file, the order of jobs appears to be sorted regarding the starting of jobs.

The jobs as listed on the left side of the web UI appear as they are listed in the matrix.  Conversely, jobs seem to actually start based on an alpha sort?

I noticed this when trying to shorten total CI time.  The workflow has more than 5 macOS jobs, and one job take

[2020-05-17 16:10] Nyholm commented on #475
I can confirm this issue.

[2020-05-17 20:35] MalloZup opened #484 "Automatic worker update cause container to crash"
# Description:

worker version: ```2.169.1```

Hi all, I'm running the worker as self-hosted.
I have build my own container image with the binary etc.

After some time, I was not able to reproduce why container died ( since I run it as service in detached mode).

I found out that the worker try to update itself automatically and then it fails.

[code]

I think automatic update the worker is not wh

[2020-05-18 11:23] MalloZup commented on #484
as update, I have installed the `ping` cmd but the container still doesn't recover

[2020-05-18 12:37] bryanmacfarlane commented on #484
Is your entrypoint run.sh?  Try runsvc.sh which handles updates.

[2020-05-18 12:39] bryanmacfarlane commented on #484
Read all of this issue: https://github.com/actions/runner/issues/246

[2020-05-18 12:58] MalloZup commented on #484
@bryanmacfarlane thx for feedback I will get an eye on that issue.

Closing this as duplicate

[2020-05-18 12:58] #484 closed

[2020-05-18 14:39] bryanmacfarlane commented on #484
Let us know if runsvc.sh works for you.

[2020-05-18 16:13] MalloZup commented on #484
@bryanmacfarlane

[code]
That worked for me

[2020-05-18 16:44] portellaa opened #485 "Disable runner auto update"
**Describe the bug**
We are running the runner in docker containers and it is forcing us to update the runner and shuts it down.

Is there any way we can disable this?

https://github.com/ydataai/docker-github-runner -> project with the Dockerfile to build runner in containers

**To Reproduce**
1. Go to the folder where you have github-runner
2. execute ./run.sh
3. Run a job

**Expected behavior**

[2020-05-18 16:51] TingluoHuang commented on #485
@portellaa please check https://github.com/actions/runner/issues/484#issuecomment-630154371

[2020-05-18 17:00] portellaa commented on #485
i read that before and it seems that basically the runner is auto updating itself in service mode, but i don't want that.

As far as i read, i'm not the only one requesting for this, the runner should have the ability to turn off automatic update, or don't have it enabled at all.

[2020-05-18 17:54] TingluoHuang commented on #485
You can run `runsvc.sh interactive` and it will still run your runner in interactive mode.

[2020-05-18 18:41] TingluoHuang commented on #481
@vsaravind007 can you check `/Users/aravind/Library/Logs/actions.runner.diagnal.Aravind-Mac-Mini`? there should be 2 log files that might contain extra log info.

[2020-05-18 18:44] TingluoHuang commented on #483
@ericsciple for an idea.
I guess the UI and the runtime execution engine are not lines up on sorting. 😢

[2020-05-18 19:23] bryanmacfarlane commented on #484
Awesome

[2020-05-18 19:25] bryanmacfarlane commented on #485
This issue covers why the runner updates itself: https://github.com/actions/runner/issues/246

The service is moving forward.  And some of those new features need runner changes.  So it's not about disabling and compat, it's about new features and new code needed in the runner.

[2020-05-18 19:33] ericsciple commented on #483
The matrix is generated in a predictable order, based on how the defined order.

Something in the orchestration layer doesn't respect the order.

[2020-05-18 23:40] portellaa commented on #485
It's not about being interactive or not, it's about user features, if for some reason i want to be stuck on that runner version, no matter the reason, i think that's up to me, right?

I'm not saying that it should be as this, but it's an odd behaviour, if i have that image tagged with the version of the runner, it will loose sense then.
What if the update breaks, that runner will be down and that'

[2020-05-19 04:09] abitrolly commented on #344
Is it possible to reopen this? It is not only useful for avoiding resource waste, but to skip waiting for long running builds when it is not necessary, for README fixes etc.

https://github.community/t5/GitHub-Actions/GitHub-Actions-does-not-respect-skip-ci/m-p/43398/highlight/true#M5366

`[skip actions]` is useful too if I need to fire only certain CI service on commit.

[2020-05-19 06:58] yisiliu opened #486 "Initializing containers fails on self-hosted runners"
**Describe the bug**
Our self hosted actions runner stopped working correctly during the step "Initialize Containers" and threw out an error message `Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.40/version: dial unix /var/run/docker.sock: connect: permission denied`. It was first observed in https

[2020-05-19 11:04] timharris777 opened #487 "UnprocessableEntity from 'POST https://api.github.com/repos/myorganization/myproject/actions-runners/registration'"
**Describe the bug**

1. Run Create registration token method of github API
2. Pass token from the response to config.sh
3. Runner authentication fails with message
[code]

This error does not reproduce if I push the button Add runner from project settings before any API calls. After pushing this button runner authentication works pretty well event with tokens generated with API. For me it looks l

[2020-05-19 16:42] timharris777 commented on #487
This might be related but if I try to get the /actions/runners/downloads endpoint for any newly created repo I'm getting a blank response. Seems like there is something that does not initialize until that button is clicked in the ui.

[2020-05-19 17:02] timharris777 commented on #487
Ok, so I have figured out that if I add a `.github/workflows/test.yaml` file to the repo the  /actions/runners/downloads api responds properly and the registration works properly as well.

Very strange... seems like the there is some kind of check in the background that needs to test positive before the registration will work or the  /actions/runners/downloads api will respond.

Please help as thi

[2020-05-19 17:45] TingluoHuang commented on #487
@joshmgross might be able to help on this.

[2020-05-19 18:08] joshmgross commented on #487
👋 Hey @timharris777, thanks for reporting this. I've filed an issue internally to get this fixed.

[2020-05-19 18:20] timharris777 commented on #487
Thanks @joshmgross , can't wait for the fix! I'm currently having to go click that button in the settings page for every repository in our org that wants to use our automated self-hosted runner solution.

Looking forward to not having to make the click anymore! :-)

[2020-05-19 18:33] timharris777 commented on #487
@tpinniger, adding you to this issue as you will be interested when it's fixed.

[2020-05-19 19:16] hashtagchris opened #489 "Post step title prefixed with "Post Pre""
**Describe the bug**
When an action has both `pre` and `post` stages defined, the `post` step title is prefixed with "Post Pre" instead of just "Post".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workflow that executes an action with both `pre` and `post` stages. [Example](https://github.com/h10s/test-workflows/blob/master/.github/workflows/test-simple-actions.yml#L28-L30)
1. Ex

[2020-05-19 20:09] TingluoHuang commented on #486
@yisiliu make sure your runner's run-as account has permission to execute docker command without `sudo`
https://docs.docker.com/engine/install/linux-postinstall/

[2020-05-19 20:10] TingluoHuang commented on #458
@chrispat from the product team for feedback.

[2020-05-19 20:13] TingluoHuang commented on #457
@samsour the runner should prompt you for other required input, are you not seeing those?
![image](https://user-images.githubusercontent.com/1750815/82373499-a69ea300-99eb-11ea-9497-a199273c2f6d.png)

[2020-05-19 20:14] TingluoHuang commented on #463
@chrispat from the product team for feedback.

[2020-05-19 20:16] TingluoHuang commented on #464
@chrispat from the product team for feedback.

[2020-05-19 21:40] evandrocoan commented on #449
@Yanjingzhu thanks for reporting it here!

Up to today, I am still having this error popping randomly (only on Mac OS machines), while Linux/Windows machines are working fine.

Yesterday I had a Mac OS build failing without any reason for this no valid error: https://github.com/evandroforks/anki/runs/687614069#step:51:1
[code]

No way my template was invalid. All other builds (linux/windows) passe

[2020-05-19 22:07] joequincy opened #491 "Job-level "if" condition not evaluated correctly if job in "needs" property is skipped"
**Describe the bug**
If a job `needs` a prior job which has been skipped, the `if` condition for the dependent job may behave unexpectedly under some conditions. (unsure if condition is evaluated incorrectly or if it's not evaluated at all)

**To Reproduce**
Steps to reproduce the behavior:
Given a workflow such as this (where job_b needs to complete or be skipped before subsequent jobs run, but s

[2020-05-20 01:53] yisiliu commented on #486
@TingluoHuang Thanks for the reply! Actually it should work without `sudo` since otherwise no jobs could run without throwing this error. My current observation is that if multiple workflows run simultaneously, the jobs in both workflows would fail at initialization. Also, jobs cannot run in parallel either, so I added dependencies between steps to force them to run sequentially, e.g. https://gith

[2020-05-20 12:58] chrispat commented on #458
@timharris777 limiting of editing the workflow file will not help with security.  If you are running any code as part of your build and someone can change that code they can potentially export secrets by dumping process memory.

[2020-05-20 14:31] josephshanahan-cfa commented on #458
@chrispat, what you are saying is a helpful callout, but please consider this:

The scope of a secret is limited to a step.

If a secret's scope is limited to a step, then secrets are isolated and contained to that specific step. For example, in our build process the only step that would allow someone to edit it and dump process memory (as you said) is a step that does a `./gradlew` build, and thi

[2020-05-20 14:56] chrispat commented on #458
@josephshanahan-cfa the scope of a secret is a job not a step meaning that the secret is active in the memory of the runner for the scope of the job in which it is referenced.

Your gradle example is a great one here as it runs code that is part of the repo that anyone with write access to the repo can modify.  This means that they could add something to dump the process memory for the runner whic

[2020-05-20 15:10] josephshanahan-cfa commented on #458
So you are telling me that any 3rd party action can dump all of my secrets, regardless of the step? Could you provide an example for how to do this across steps as you mentioned?

[2020-05-20 15:23] chrispat commented on #458
I am saying that any code you run during your CI could potentially dump all of the secrets that are referenced in the execution scope which is a job.  If you are running your job in a container this becomes significantly harder because the runner is not inside that container.  However, for platforms like MacOS that don't support containers at all or on Windows where containers are not practical fo

[2020-05-20 15:32] josephshanahan-cfa commented on #458
Thanks for the response @chrispat, could you please provide an example for how to access secrets across steps in an ubuntu environment that is not using containers?

[2020-05-20 15:34] chrispat commented on #458
@josephshanahan-cfa I  am not sure what you mean.  Are you asking for an example of how you would dump process memory and then read the strings out of it?

[2020-05-20 15:39] josephshanahan-cfa commented on #458
Yes, that would be helpful. From the GitHub Actions docs it says:

https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idsteps

This documentation makes it sound like the step runs in its own process. It sounds like you are saying that steps are sharing process memory.

Could you give me an example as you mentioned of dumping process memory and then reading stri

[2020-05-20 15:41] halberom opened #493 "Add management functionality and job executor/targets"
**Describe the enhancement**
Ability to define a runner which can accept 1.._N_ jobs and send them to a given target/executor.  Where a target may be docker on the local instance, a docker engine in a cluster, or an instance in an autoscaling group.

At present a runner gets spun up in a container/instance and sits there polling for a job that it then runs locally.  The only way I can see to guara

[2020-05-20 15:57] chrispat commented on #458
Steps are run in their own process space and its own process memory, but, they are all run under the same user context and as a user you can read the process memory of other process running in your context. This is essentially how a debugger works, you run the debugger as you and attach to another process.  If you are an admin on the machine you can read the memory of essentially any process on th

[2020-05-20 16:02] bryanmacfarlane commented on #458
@chrispat is correct.  Essentially it's user code running on a machine as admin.  Not really securable.  Which means you have to trust who can edit your workflow file or in the case of something like deploys etc, your workflows and scripts could be in another repo than the code / containers being built and tested independently by developers.  This is also why we don't send secrets to forks.

[2020-05-20 16:19] davidkarlsen commented on #458
Also one should be critical to actions found on the marketplace. These could steal information and/or do bad actions in general.

[2020-05-20 16:41] MalloZup opened #494 "Add functionality for allow self-hosted runner to protect workflow file and allow only execution only for collaborators for PRS"
# Description:

Hi all,
first of all I really like the github action runner and self-hosted runner.

It has however an issue with working for `pull-request` workflows.

I think the runner should have a way to be configurable to run only on Pull-requests from collaborator of X org or Repo.
The problem to be solved is to protect the github-workflow file and don't be changed by any arbitrary PR ( so

[2020-05-20 22:23] wagenet commented on #481
I have a similar situation except, in my case, it picks up some jobs, just not consistently. I currently have jobs waiting to run and the runner isn't running anything. There's nothing unusual in the logs.

[2020-05-21 00:50] francisfuzz opened #496 "Specifying a timeout option seems to be ignored by the runner"
**Describe the bug**

Specifying a timeout option of 5 seconds doesn't seem to be applied when initializing a service or a container in an Actions workflow.

**To Reproduce**
Steps to reproduce the behavior:

* Create an Actions workflow that initializes either a service or a container with the following options for health check with a 5-second timeout. Here's an example:

[code]

* Trigger a work

[2020-05-21 01:14] MSP-Greg opened #497 "Windows - step: shell: bash"
Currently, when choosing the bash shell option in Windows, the following is the command:
[code]
Note that C:\Program Files\Git\bin is already in PATH.

MSYS2 is now included in the Windows image, and the Git bash shell is based on it.

If the path was removed from the command, as below, people could switch to the MSYS2 bash shell by simply adjusting PATH.

[code]

Discussions about MSYS2 have been

[2020-05-21 10:22] vsaravind007 commented on #481
@TingluoHuang Yes, there are errors, `stderr.log`

[code]
This is a fresh installation of MacOS, any ideas ?

[2020-05-21 19:47] mzabaluev opened #498 "A line ending adaptive variant of hashFiles"
**Describe the enhancement**
Sometimes cached data is sufficiently cross-platform to be reused across runners on Windows and the Unix OSes. A problem arises if the cache key needs to be computed by hash-summing text files, which produces differing hash sums on the same file if it was e.g. checked out by git in text mode applying auto-conversion to the line endings.

[This workflow run][workflow] f

[2020-05-21 20:08] timharris777 commented on #458
Hey guys, we understand that anyone who can edit the workflow file can possibly dump secret contents.

Our ask is that you provide role based separation of who can edit the contents of the .github/ folder or the .github/workflows folder. For example, looking at the current roles of read, triage, write, maintain, and admin-- maybe the maintain and admin roles could have access to update the folders

[2020-05-22 06:17] mumfy opened #499 "action.yml input param validation handling of special `args` parameter"
**Background:**

The [`inputs` construct](https://help.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#inputs) is used to specify the parameters which may be passed into an Action. Recently, validation code was added which emits a _warning_ message if the calling action supplies parameters which the called action does not include as one of the valid `inputs`.

The [`jobs.

[2020-05-22 21:51] gigi1988b opened #501 "Issue with supporting Cyrillic characters in the runner."
**Describe the bug**
Issue with supporting Cyrillic characters in the runner. Any character causes an error

**To Reproduce**
Steps to reproduce the behavior:
1. Push file with Cyrillic characters;
2. Run tests
3. See error "unmappable character for encoding ASCII"

## Runner Version and Platform
Current runner version: '2.262.1'
Operating System
  Ubuntu
  18.04.4
  LTS
Virtual Environment
  Envi

[2020-05-23 12:36] samsour commented on #457
It looks like this:
![image](https://user-images.githubusercontent.com/37221148/82730718-2dac8d80-9d02-11ea-9e59-d2d71d8f9e87.png)

If I run the setup without arguments:
![image](https://user-images.githubusercontent.com/37221148/82730762-7f551800-9d02-11ea-9813-a9d098c45432.png)

Both attempts lead to nothing. Could this be a firewall/routing issue of my server? I though it wouldn't be as it says

[2020-05-23 17:35] axc450 opened #502 "Unable to read data from the transport connection Exception"
I am attempting to set up a self-hosted agent on a server but cannot get past the first "Authentication" step. The error log is filled up with:
[code]

I have tried turning the firewall off to no success. This server does sit behind a VPN, but I can communicate with GitHub just fine when RDP'd onto it. Find log attached:
[Runner_20200523-170124-utc.log](https://github.com/actions/runner/files/4672

[2020-05-24 11:34] NateSeymour opened #503 "AWS CLI calls broken during change from 2.169.1 to 2.262.1"
**Describe the bug**
To preface, I know this seems like an AWS bug, but the issue has only occurred when GitHub Actions upgraded its runner version, while the AWS CLI version has stayed the same. The only thing that I have been able to find different between passing and failing runs was the runner version.

Calls to the AWS CLI (namely `s3 sync`, installed in a GitHub Action in `ubuntu-latest` (cu